{% extends 'base.html' %}
{% load thumbnail cart_tags tags %}

{% block cart %}{% endblock %}
{% block cart_mini_total %}{% endblock %}
{% block js %}
<script type="text/javascript">
    var yaParams = { order_id: "{{order.id}}",
        order_price: {{full_price}},
        currency: "RUR",
        exchange_rate: 1,
        goods:[
            {% for item in order.details.all %}
                {
                id: "{{item.product.id}}",
                name: "{{item.product.name}}",
                price: {{item.price}},
                quantity: {{item.qty}}
                },
            {% endfor %}
    ]};
    function rrAsyncInit() {
        try {
            rrApi.order({
                transaction: {{ order.id }},
                items: [
                   {% for item in order.details.all %}
                        { id:{{ item.product.id }}, qnt: {{ item.qty }}, price: {{ item.price }} },
                   {% endfor %}
                ]
                });
        } catch(e) {}
    }
</script>
{% endblock %}
{% block content %}
    {% block order_steps %}{% show_order_steps %}{% endblock %}
    <h1 style="font: normal 24px Arial,serif;margin-top: 3.5em;text-align: center;" class="grey">Спасибо за заказ! Номер вашего заказа №{{ order.id }}</h1>
    <p>В ближайшее время наш менеджер свяжется с вами.</p>
    <table id="full_cart_tbl">
        <thead>
        <tr><th colspan="2"></th><th>Количество</th><th>Стоимость</th><th></th></tr>
        </thead>
        <tbody>
        {% for item in order.details.all %}
            <tr id="cart_row{{ item.product.id }}" {% if item.quantity == 0 %}class="to_delete"{% endif %}>
                <td class="image">
                    {% thumbnail item.product.image "60x60" as im %}
                        <img src="{{ im.url }}" style="margin:{{ im|margin:"60x60" }}"/>
                    {% endthumbnail %}
                </td>
                <td class="descr">
                    <div class="name">{{ item.product.name }}</div>
                    <div class="price">{{ item.product.showcase.customer_price }} <span class="cart_rur">руб.</span></div>
                    <div>
                        <div class="brand">{{ item.product.brand }}</div>
                        <div class="taste">{{ item.product.taste.value|truncchar:20 }}</div>
                        <div class="uom">{{ item.product.uom_units }} {{ item.product.get_uom_display }}</div>
                    </div>
                </td>
                <td class="qty">
                    <div class="qty_disabled">{{ item.qty }}</div>
                </td>
                <td class="price">{{ item.product.showcase.customer_price }} <span class="cart_rur">руб.</span></td>
            </tr>
        {% endfor %}
        <tr class="order_info">
            <td colspan="2"></td>
            <td id="full_cart_qty">
                {% if cart.cart_full_qty > 0 %}
                    {{cart.cart_full_qty}}
                    {% if cart.cart_full_qty == 1 %}товар{% endif %}
                    {% if cart.cart_full_qty > 1 and cart.cart_full_qty <= 4 or cart.cart_full_qty > 21 %}товарa{% endif %}
                    {% if cart.cart_full_qty > 4 and cart.cart_full_qty <= 21 %}товаров{% endif %}
                {% endif %}
            </td>
            <td><span id="full_cart_price">{{ full_price }}</span> <span class="cart_rur">руб.</span></td>
        </tr>
        <tr class="order_info">
            <td id="discount_descr" colspan="2" style="padding-right: 7em;">
                Ваша скидка <span id="current_discount">{{ discount }}</span> %:
                <div class="fr" style="width: 100px;text-align: right;padding-top:0.3em;">
                    <span id="discount_amount">{% if discount_amount > 0 %}-{{ discount_amount }}{% else %}0{% endif %}</span> <span class="cart_rur">руб.</span>
                </div>
            </td>
            <td id="order_amount">
                <nobr>Сумма заказа:</nobr>{% if discount > 0 %}<br>
                <div>C учетом скидки</div>
            {% endif %}
            </td>
            <td><span id="full_order_amount">{{ discounted_order }}</span> <span class="cart_rur">руб.</span></td>
        </tr>
        </tbody>
    </table>
    <div class="grid_8 alpha">
        <h3>Контактные данные</h3>
        <table class="order_form">
            <tr>
                <td style="vertical-align: top;">Телефон</td>
                <td>{{ order.contact_phone }}</td>
            </tr>
            <tr>
                <td style="vertical-align: top;">Адрес доставки</td>
                <td>{{ order.shipment_address }}</td>
            </tr>
        </table>
    </div>
    <div class="grid_4 omega">
        <h3>Доставка</h3>
        <table class="grey f14as">
            <tr><td>{{ order.shipment_type.name }}</td><td>{{ order.shipment_price }} руб.</td></tr>
        </table>
    </div>
    <script type="text/javascript">
        window.onload = function() {
            yaCounter11816263.reachGoal('CHECKOUT_DONE', yaParams);
        }
    </script>
{% endblock %}