{% extends 'base.html' %}
{% load thumbnail cart_tags tags %}

{% block cart %}<div class="fr" id="minicart"><div style="margin-right: 3em;">&nbsp;</div></div>{% endblock %}
{% block cart_mini_total %}{% endblock %}
{% block content %}
    {% if cart|length > 0 %}
        {% block order_steps %}{% show_order_steps %}{% endblock %}
        <table id="full_cart_tbl">
            <thead>
            <tr><th colspan="2"></th><th>Количество</th><th>Стоимость</th><th></th></tr>
            </thead>
            <tbody>
            {% for item in cart %}
                <tr id="cart_row{{ item.product.id }}" {% if item.quantity == 0 %}class="to_delete"{% endif %}>
                    <td class="image">
                        {% thumbnail item.product.image "60x60" as im %}
                            <img src="{{ im.url }}" style="margin:{{ im|margin:"60x60" }}"/>
                        {% endthumbnail %}
                    </td>
                    <td class="descr">
                        <div class="name">{{ item.product.name }}</div>
                        {% if item.product_card.base_price > item.product_card.customer_price %}
                            <div class="special_price">{{ item.product_card.customer_price }} <span class="cart_rur">руб.</span></div>
                            <div style="position: absolute;left: 275px;bottom:42px;color: rgba(172, 32, 23, 0.90);font: 8pt Arial;">aкция</div>
                        {% else %}
                            <div class="price">{{ item.product_card.customer_price }} <span class="cart_rur">руб.</span></div>
                        {% endif %}
                        <div>
                            <div class="brand">{{ item.product.brand }}</div>
                            <div class="taste">{{ item.product.taste.value|truncchar:20 }}</div>
                            <div class="uom">{{ item.product.uom_units }} {{ item.product.get_uom_display }}</div>
                        </div>
                    </td>
                    <td class="qty">
                        <div class="qty_disabled">{{ item.quantity }}</div>
                    </td>
                    <td class="price">{{ item.product_card.customer_price }} <span class="cart_rur">руб.</span></td>
                </tr>
            {% endfor %}
            <tr class="order_info">
                <td colspan="2"></td>
                <td id="full_cart_qty">
                    {% if cart.cart_full_qty > 0 %}
                        {{cart.cart_full_qty}}
                        {% if cart.cart_full_qty == 1 %}товар{% endif %}
                        {% if cart.cart_full_qty > 1 and cart.cart_full_qty <= 4 or cart.cart_full_qty > 21 %}товарa{% endif %}
                        {% if cart.cart_full_qty > 4 and cart.cart_full_qty <= 21 %}товаров{% endif %}
                    {% endif %}
                </td>
                <td><span id="full_cart_price">{{ cart.cart_full_price }}</span> <span class="cart_rur">руб.</span></td>
            </tr>
            <tr class="order_info">
                <td id="discount_descr" colspan="2" style="padding-right: 7em;">
                    <div class="box_round" style="border: 1px dashed #0f5172;padding: 1em;">
                    Ваша скидка <span id="current_discount">{{ discount }}</span> %:
                    <div class="fr" style="width: 100px;text-align: right;padding-top:0.3em;">
                        <span id="discount_amount">{% if discount_amount > 0 %}{{ discount_amount }}{% else %}0{% endif %}</span> <span class="cart_rur">руб.</span>
                    </div>
                    <br class="cl">
                    <p style="font-size: 11px; margin: 5px 0 0 0;">Скидка не действует на товары по акции.</p>
                    <!--
                    {% if not request.user.is_authenticated %}
                        <div style="text-align: center;padding:0;margin: 0 1em 0 1em !important;width: 100%;line-height: 1.5em;">
                            <a id="login_form_link" class="jlink" href="#popup_login_form">Войдите</a> или <a id="reg_info_link" class="jlink" href="javascript:void(0);">Зарегистрируйтесь</a><br>
                            И накапливайте скидки!
                        </div>
                    {% endif %}
                    -->
                    </div>
                </td>
                <td id="order_amount">
                    <nobr>Сумма заказа:</nobr>{% if discount > 0 %}<br>
                    <div>C учетом скидки</div>
                {% endif %}
                </td>
                <td><span id="full_order_amount">{{ full_order_amount }}</span> <span class="cart_rur">руб.</span></td>
            </tr>
            </tbody>
        </table>
        <div class="grid_12">
        <form action="/cart/create/order/" method="post">
        {% csrf_token %}
        <div class="grid_8 alpha">
            <h3>Контактные данные</h3>
            <table class="order_form">
                <tr>
                    <td style="vertical-align: top;">Телефон <span class="required">*</span></td>
                    <td><input class="input" id="phone" name="phone"type="text"
                               value="{{ form.phone.value|default_if_none:'' }}" {% if form.phone.errors %}style="border-color: red;"{% endif %}/>
                         {% if form.phone.errors %}<span class="help-inline" style="color: red;">
                             {% for error in form.phone.errors %}
                                 {{ error }}
                             {% endfor %}</span>
                         {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">Адрес доставки <span class="required">*</span></td>
                    <td><textarea class="texta" id="address" name="address"
                                  {% if form.address.errors %}style="border-color: red;"{% endif %}>{{ form.address.value|default_if_none:'' }}</textarea>
                        {% if form.address.errors %}<span class="help-inline" style="color: red;">
                            {% for error in form.address.errors %}
                                {{ error }}
                            {% endfor %}</span>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="grid_4 omega">
            <h3>Доставка</h3>
            <table class="grey f14as">
                {% for type in shipment_types %}
                    <tr><td><input id="shipment_{{ type.type_id }}" type="radio" name="shipment_type" value="{{ type.type_id }}" {% if type.default %}checked="true"{% endif %}
                            onclick="Dajaxice.cart.calculate_shipment_price(Dajax.process, {'type':'{{ type.type_id }}'});return false;"/></td>
                            <td><label for="shipment_{{ type.type_id }}">{{ type.name }}</label></td></tr>
                {% endfor %}
                <tr><td colspan="2" class="f21as" style="text-align: right;">
                    <span id="shipment_price">{% if cart.cart_full_price < 6001 %}250{% else %}0{% endif %}</span> <span class="cart_rur">руб.</span></td></tr>
            </table>
        </div>
        <div class="grid_12 alpha omega" style="text-align: right;">
            <input type="submit" id="order_button" value="Отправить заказ">
        </div>
        </form>
        </div>
    {% else %}
        <div>Ваша корзина пуста.</div>
    {% endif %}
{% endblock %}