{% extends 'base.html' %}

{% load thumbnail cart_tags %}

{% block cart %}{% endblock %}
{% block content %}
    <div class="prefix_2 grid_11" style="text-align: center;margin-top: 3em;">
        <h1>Ваша корзина пуста.</h1>
    </div>
{% endblock %}