{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    {% if cart|length > 0 %}
        <table id="full_cart_tbl">
            {% for item in cart %}
                <tr class="{% cycle "odd" "even" %}{% if item.quantity == 0 %} to_delete{% endif %}" id="cart_row{{ item.product.id }}">
                    <td>
                        {% thumbnail item.product.image "40x40" as im %}
                            <img src="{{ im.url }}" style="margin:{{ im|margin:"40x40" }}"/>
                        {% endthumbnail %}
                    </td>
                    <td width="50%">{{ item.product.name }}<p class="product_uom">{{ item.product.uom_units }} {{ item.product.get_uom_display }}</p></td>
                    <td>
                        <a href="javascript:void(0);" onclick="Dajaxice.cart.update_cart_item(Dajax.process, {'product_id':{{ item.product.id }},'kind': 'down'});return false;">-</a>
                        <span id="cart_item_qty{{ item.product.id }}">{{ item.quantity }}</span>
                        <a href="javascript:void(0);" onclick="Dajaxice.cart.update_cart_item(Dajax.process, {'product_id':{{ item.product.id }},'kind': 'up'});return false;">+</a>
                    </td>
                    <td>{{ item.product.customer_price }}</td>
                </tr>
            {% endfor %}
        </table>
        {% if not request.user.is_authenticated %}
            <form id="order_form" action="/cart/create/order/" method="post">
                            {% csrf_token %}
                <fieldset>
                  <legend>Данные для заказа</legend>
                  <div class="clearfix{% if form.name.errors %} error{% endif %}">
                    <label for="username">{{ form.name.label }}</label>
                    <div class="input">
                        <input class="xLarge{% if form.name.errors %} error{% endif %}"
                               id="username" name="name" size="30" type="text" value="{{ form.name.value|default_if_none:'' }}">
                        {% if form.name.errors %}<span class="help-inline">
                            {% for error in form.name.errors %}
                                {{ error }}
                            {% endfor %}</span>
                        {% endif %}
                    </div>
                  </div><!-- /clearfix -->
                  <div class="clearfix{% if form.phone.errors %} error{% endif %}">
                    <label for="phone">{{ form.phone.label }}</label>
                    <div class="input">
                        <input class="xLarge{% if form.phone.errors %} error{% endif %}"
                               id="phone" name="phone" size="20" type="text" value="{{ form.phone.value|default_if_none:'' }}">
                        {% if form.phone.errors %}<span class="help-inline">
                            {% for error in form.phone.errors %}
                                {{ error }}
                            {% endfor %}</span>
                        {% endif %}
                    </div>
                  </div><!-- /clearfix -->
                  <div class="clearfix{% if form.email.errors %} error{% endif %}">
                    <label for="email">{{ form.email.label }}</label>
                    <div class="input">
                      <div class="input-prepend{% if form.email.errors %} error{% endif %}">
                        <span class="add-on">@</span>
                        <input class="xLarge" id="email" name="email" size="30" type="text" value="{{ form.email.value|default_if_none:'' }}">
                          {% if form.email.errors %}<span class="help-inline">
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}</span>
                        {% endif %}
                      </div>
                    </div>
                  </div><!-- /clearfix -->
                  <div class="clearfix{% if form.address.errors %} error{% endif %}">
                    <label for="address">{{ form.address.label }}</label>
                    <div class="input">
                      <textarea class="xxlarge{% if form.address.errors %} error{% endif %}" id="address" name="address" rows="3"></textarea>
                      <span class="help-block">
                        {% if form.address.errors %}
                            {% for error in form.address.errors %}
                                {{ error }}
                            {% endfor %}
                        {% else %}
                            Введите адрес для доставки товаров
                        {% endif %}
                      </span>
                    </div>
                  </div>
                  <div class="clearfix">
                    <label for="comment">{{ form.comment.label }}</label>
                    <div class="input">
                      <textarea class="xxlarge" id="comment" name="comment" rows="3"></textarea>
                      <span class="help-block">
                        Дополнительный комментарий
                      </span>
                    </div>
                  </div>
                  <div>
                      <div class="fr">
                        <input type="submit" class="btn primary" value="Сохранить заказ">&nbsp;<button type="reset" class="btn">Отмена</button>
                      </div>
                  </div>
                </fieldset>
            </form>
        {% else %}
            <form id="order_form" action="/cart/create/order/" method="post">
                {% csrf_token %}
                <input type="submit" class="btn primary" value="Отправить заказ" >
            </form>
        {% endif %}
    {% else %}
        <div>Ваша корзина пуста.</div>
    {% endif %}
{% endblock %}