{% extends 'base.html' %}
{% load thumbnail cart_tags tags %}

{% block cart %}<div class="fr" id="minicart"><div style="margin-right: 3em;">&nbsp;</div></div>{% endblock %}
{% block cart_mini_total %}{% endblock %}
{% block content %}
    {% if cart.items|length > 0 %}
        {% block order_steps %}{% show_order_steps %}{% endblock %}
        <table id="full_cart_tbl">
            <thead>
                <tr><th colspan="2"></th><th>Количество</th><th>Стоимость</th><th></th></tr>
            </thead>
            <tbody>
        {% for item in cart %}
            {% order_line item %}
        {% endfor %}
        <tr class="order_info">
            <td colspan="2">
                <a id="cart_del_cmd" href="javascript:void(0);" onclick="Dajaxice.cart.clear_cart(Dajax.process, {});return false;">Очистить корзину</a>
            </td>
            <td id="full_cart_qty">
                {% if cart.cart_full_qty > 0 %}
                    {{cart.cart_full_qty}}
                    {% if cart.cart_full_qty == 1 %}товар{% endif %}
                    {% if cart.cart_full_qty > 1 and cart.cart_full_qty <= 4 or cart.cart_full_qty > 21 %}товарa{% endif %}
                    {% if cart.cart_full_qty > 4 and cart.cart_full_qty <= 21 %}товаров{% endif %}
                {% endif %}
            </td>
            <td><span id="full_cart_price">{{ cart_price }}</span> <span class="cart_rur">руб.</span></td>
        </tr>
        <tr class="order_info">
            <td id="discount_descr" colspan="2" style="padding-right: 7em;">
                <div class="box_round" style="border: 1px dashed #0f5172;padding: 1em;">
                Ваша скидка <span id="current_discount">{{ discount }}</span> %:
                <div class="fr" style="width: 100px;text-align: right;padding-top:0.3em;">
                    <span id="discount_amount">{% if discount_amount > 0 %}{{ discount_amount }}{% else %}0{% endif %}</span> <span class="cart_rur">руб.</span>
                </div>
                <br class="cl">
                <p style="font-size: 11px; margin: 5px 0 0 0;">Скидка не действует на товары по акции.</p>
                    <!--
                <div id="more_discount_msg" {% if next_discount_step == 0 %} style="display: none;"{% endif %}>
                    Получите <span id="next_discount">{{ next_discount }}</span>% скидки на этот заказ
                    купив товаров еще на <span id="next_discount_step">{{ next_discount_step }}</span> руб.</div>
                </div>-->
            </td>
            <td id="order_amount">
                Сумма заказа:<br>
                <div>Пока без учета доставки</div>
            </td>
            <td><span id="full_order_amount">{{ full_order_amount }}</span> <span class="cart_rur">руб.</span></td>
        </tr>
        </tbody>
        </table>
        <div id="related_products_block">
        {% if related_products|length > 0 %}
            <h3 style="font: normal 16px Arial, serif;">Так же рекомендуем</h3>
            {% for product in related_products %}
                <div class="grid_2 product_mini_block{% cycle ' alpha' '' '' '' '' ' omega' %}">
                    {% thumbnail product.image "100x100" as im %}
                        <a style="" href="/catalog/product/{{ product.id }}"><img src="{{ im.url }}" style="margin:{{ im|margin:"100x100" }}"/></a>
                    {% endthumbnail %}
                    <a href="/catalog/product/{{ product.id }}" class="name">
                        {{ product.name|truncchar:15 }}
                    </a>
                    <br style="clear: both;">
                    <div class="price">{{ product.customer_price }},-</div>
                    <a class="f12as jlink" href="/cart" onclick="Dajaxice.cart.add_related_to_cart(Dajax.process, {'product_id':{{ product.id }}});return false;">
                        В корзину
                    </a>
                </div>
            {% endfor %}
        {% endif %}
        </div>
        <div class="grid_12 alpha omega" style="text-align: right;">
            <input type="button" id="order_button" style="width: 220px;padding: 1em 0;" onclick="window.location='/cart/checkout';" value="Продолжить оформление">
        </div>
    {% else %}
        <div class="grid_9 alpha">
            <div id="empty_cart_message" style="display: block; text-align: center; padding-top: 3em;">
                <h1 class="f24as">Ваша корзина пуста</h1>
            </div>
        </div>
        <div class="grid_3 omega">{% show_seen_scope %}</div>
    {% endif %}
{% endblock %}