<h1 style="float: left;font: normal 24px Arial, serif;">Оформление заказа</h1>
<ul id="cart_order">
    <li{% ifequal step 'cart' %} class="active"{% endifequal %}>
        <div class="step_nbr">1</div>
        <a href="/cart">Товары</a></li>
    <li{% ifequal step 'checkout' %} class="active"{% endifequal %}>
        <div class="step_nbr">2</div>
        <a href="/cart/checkout">Доставка</a></li>
    <li{% ifequal step 'order_saved' %} class="active"{% endifequal %}>
        <div class="step_nbr">3</div>
        <span style="margin: 0.8em 0;display: block;">Завершение</span>
    </li>
</ul>
