{% load thumbnail tags %}
<tr id="cart_row{{ item.product.id }}" {% if item.quantity == 0 %}class="to_delete"{% endif %}>
    <td class="image">
        {% thumbnail item.product.image "60x60" as im %}
            <img src="{{ im.url }}" style="margin:{{ im|margin:"60x60" }}"/>
        {% endthumbnail %}
    </td>
    <td class="descr">
        <div class="name">{{ item.product.name }}</div>
        {% if item.product_card.base_price > item.product_card.customer_price %}
            <div class="special_price">{{ item.product_card.customer_price }} <span class="cart_rur">руб.</span></div>
            <div style="position: absolute;left: 275px;bottom:42px;color: rgba(172, 32, 23, 0.90);font: 8pt Arial;">aкция</div>
        {% else %}
            <div class="price">{{ item.product_card.customer_price }} <span class="cart_rur">руб.</span></div>
        {% endif %}
        <div>
            <div class="brand">{{ item.product.brand }}</div>
            <div class="taste">{{ item.product.taste.value|truncchar:20 }}</div>
            <div class="uom">{{ item.product.uom_units }} {{ item.product.get_uom_display }}</div>
        </div>
    </td>
    <td class="qty">
        <div class="selector">
            <a class="minus"
               href="javascript:void(0);" onclick="Dajaxice.cart.update_cart_item(Dajax.process, {'product_id':{{ item.product.id }},'kind': 'down'});return false;">&nbsp;</a>
            <div class="qty_field" id="cart_item_qty{{ item.product.id }}"><div>{{ item.quantity }}</div></div>
            <a class="plus"
               href="javascript:void(0);" onclick="Dajaxice.cart.update_cart_item(Dajax.process, {'product_id':{{ item.product.id }},'kind': 'up'});return false;">&nbsp;</a>
        </div>
    </td>
    <td class="price"><span id="line{{ item.product.id }}_price">{{ item.price }}</span> <span class="cart_rur">руб.</span></td>
</tr>