{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="content">

        <div class="contact-l">
            <div class="col-l-pad">
                {{ form.non_field_errors }}
                <form action="." method="post" id="reg_form">
                    <table width="314">
                        <tr>
                            <td colspan="3"><label class="clr-g">Имя пользователя{% if form.username.field.required %} *{% endif %}</label>
                            {{ form.username.errors }}</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="td-field">
                                {{ form.username }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"><label class="clr-g mt-5">Пароль{% if form.password.field.required %} *{% endif %}</label>
                                {{ form.password.errors }}</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="td-field">
                                {{ form.password }}
                            </td>
                        </tr>

                        <tr>
                            <td colspan="3" align="right"><br/>
                                <img src="/static/images/key_send.gif" alt="Отправить"
                                     onclick="$('#reg_form').submit();"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"><br/><br/><p>{% trans "Забыли пароль" %}? <a href="{% url auth_password_reset %}">{% trans "Сбросить" %}</a>!</p></td>
                        </tr>
                        <tr>
                            <td colspan="3"><p>{% trans "Первый раз у нас" %}? <a href="{% url registration_register %}">{% trans "Зарегистрироваться" %}</a>!</p></td>
                        </tr>
                    </table>
                    <br/>


                </form>
            </div>
        </div>
</div>
{% endblock %}
