{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="content">
        <div class="contact-l">
            <div class="col-l-pad">

                <h1>Сброс пароля</h1>
                {{ form.non_field_errors }}
                <form action="." method="post" id="reset_form">
                    <table width="314">
                        <tr>
                            <td><label class="clr-g">Адерс электронной почты</label>
                                {{ form.email.errors }}</td>
                        </tr>
                        <tr>
                            <td class="td-field">
                                {{ form.email }}
                            </td>
                        </tr>
                        <tr>
                            <td align="right"><br/>
                                <img src="/static/images/key_send.gif" alt="Отправить"
                                     onclick="$('#reset_form').submit();"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
