{% extends "base.html" %}
{% load i18n %}
{% block title %}Регистрация нового покупателя{% endblock %}
{% block content %}
<div class="grid_10" style="margin-top: 3em;">
    <form action="." method="post" id="reg_form">
    {% csrf_token %}
        <fieldset>
            <legend>Регистрация нового покупателя</legend>
            <div class="clearfix{% if form.username.errors %} error{% endif %}">
                <label for="username">{{ form.username.label }}</label>
                <div class="input">
                    <input class="xLarge{% if form.username.errors %} error{% endif %}"
                           id="username" name="username" size="30" type="text" value="{{ form.username.value|default_if_none:'' }}">
                    {% if form.username.errors %}<span class="help-inline">
                        {% for error in form.username.errors %}
                            {{ error }}
                        {% endfor %}</span>
                    {% endif %}
                </div>
            </div><!-- /clearfix -->
              <div class="clearfix{% if form.email.errors %} error{% endif %}">
                <label for="email">{{ form.email.label }}</label>
                <div class="input">
                  <div class="input-prepend{% if form.email.errors %} error{% endif %}">
                    <span class="add-on">@</span>
                    <input class="xLarge" id="email" name="email" size="30" type="text" value="{{ form.email.value|default_if_none:'' }}">
                      {% if form.email.errors %}<span class="help-inline">
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}</span>
                    {% endif %}
                  </div>
                </div>
              </div><!-- /clearfix -->
            <div class="clearfix{% if form.password1.errors %} error{% endif %}">
                <label for="password1">{{ form.password1.label }}</label>
                <div class="input">
                    <input class="xLarge{% if form.password1.errors %} error{% endif %}"
                           id="password1" name="password1" size="30" type="password" value="">
                    {% if form.password1.errors %}<span class="help-inline">
                        {% for error in form.password1.errors %}
                            {{ error }}
                        {% endfor %}</span>
                    {% endif %}
                </div>
            </div><!-- /clearfix -->
            <div class="clearfix{% if form.password2.errors %} error{% endif %}">
                <label for="password2">{{ form.password2.label }}</label>
                <div class="input">
                    <input class="xLarge{% if form.password2.errors %} error{% endif %}"
                           id="password2" name="password2" size="30" type="password" value="">
                    {% if form.password2.errors %}<span class="help-inline">
                        {% for error in form.password2.errors %}
                            {{ error }}
                        {% endfor %}</span>
                    {% endif %}
                </div>
            </div><!-- /clearfix -->
              <div>
                  <div class="fr">
                    <input type="submit" class="btn primary" value="Сохранить">&nbsp;<button type="reset" class="btn">Отмена</button>
                  </div>
              </div>
            </fieldset>
    </form>
</div>
{% endblock %}
