{% extends 'base.html' %}

{% block content %}
    <h3 id="account_data">Вход</h3>
    <form action="." method="post">
        {% csrf_token %}
        <table id="reg_fields" class="order_form">
            <tr>
                <td style="vertical-align: top;">E-mail <span class="required">*</span></td>
                <td><input class="input" id="email" name="email" type="text"
                           value="{{ login_form.email.value|default_if_none:'' }}"
                           {% if login_form.email.errors %}style="border-color: red;"{% endif %}/>
                            {% if login_form.email.errors %}<span class="help-inline" style="color: red;">
                                {% for error in login_form.email.errors %}
                                    {{ error }}
                                {% endfor %}</span>
                            {% endif %}
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">Пароль <span class="required">*</span></td>
                <td><input class="input" id="password" name="password" type="password" value=""
                           {% if login_form.password.errors %}style="border-color: red;"{% endif %}>
                        {% if login_form.password.errors %}<span class="help-inline" style="color: red;">
                            {% for error in login_form.password.errors %}
                                {{ error }}
                            {% endfor %}</span>
                        {% endif %}
                </td>
            </tr>
            <tr><td colspan="2"><input type="submit" value="Войти"></td></tr>
        </table>
    </form>
{% endblock %}