{% extends 'base.html' %}

{% block content%}
    <h3 id="account_data">Данные аккаунта</h3>
    <form action="." method="post">
        {% csrf_token %}
    <table id="reg_fields" class="order_form">
        <tr>
            <td style="vertical-align: top;">E-mail <span class="required">*</span></td>
            <td><input class="input" id="email" name="email" type="text"
                       value="{{ reg_form.email.value|default_if_none:'' }}"
                       {% if reg_form.email.errors %}style="border-color: red;"{% endif %}/>
                            {% if reg_form.email.errors %}<span class="help-inline" style="color: red;">
                                {% for error in reg_form.email.errors %}
                                    {{ error }}
                                {% endfor %}</span>
                            {% endif %}
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;">Имя <span class="required">*</span></td>
            <td><input class="input" id="name" name="name" type="text"
                       value="{{ reg_form.name.value|default_if_none:'' }}"
                       {% if reg_form.name.errors %}style="border-color: red;"{% endif %}/>
                        {% if reg_form.name.errors %}<span class="help-inline" style="color: red;">
                            {% for error in reg_form.name.errors %}
                                {{ error }}
                            {% endfor %}</span>
                        {% endif %}
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;">Пароль <span class="required">*</span></td>
            <td><input class="input" id="password1" name="password1" type="password" value=""
                       {% if reg_form.password1.errors %}style="border-color: red;"{% endif %}>
                        {% if reg_form.password1.errors %}<span class="help-inline" style="color: red;">
                            {% for error in reg_form.password1.errors %}
                                {{ error }}
                            {% endfor %}</span>
                        {% endif %}
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;">Пароль еще раз <span class="required">*</span></td>
            <td><input class="input" id="password2" name="password2" type="password" value=""
                       {% if reg_form.password2.errors %}style="border-color: red;"{% endif %}>
                            {% if reg_form.password2.errors %}<span class="help-inline" style="color: red;">
                                {% for error in reg_form.password2.errors %}
                                    {{ error }}
                                {% endfor %}</span>
                            {% endif %}
            </td>
        </tr>
        <tr><td colspan="2"><input type="submit" value="Сохранить"></td></tr>
    </table>
    </form>
{% endblock %}