.b-rating {
    padding: 0;
    margin: 0
}

.b-rating-non-active {
    padding: 0;
    margin: 0
}

.b-rating__icon {
    border: 0
}

.b-rating_type_10 .b-rating__star {
    font-size: 18px
}

.b-rating_type_10 .b-rating__icon {
    width: 10px
}

.b-rating_type_10 .b-rating__star .b-rating__icon, body .b-rating_type_10 .b-rating__star-hover .b-rating__icon {
    background-position: -50px -45px
}

.b-rating_type_10 .b-rating__star-other .b-rating__icon, .b-rating_type_10 .b-rating__star-other-hover .b-rating__icon {
    background-position: -50px -55px
}

.b-rating_type_10 .b-rating__star-other-half .b-rating__icon {
    background-position: -50px -92px
}

.b-rating_type_10 .b-rating__star-my .b-rating__icon, .b-rating_type_10 .b-rating__star-my-hover .b-rating__icon {
    background-position: -50px -65px
}

.b-rating_type_10_extra .b-rating__star {
    font-size: 18px
}

.b-rating_type_10_extra .b-rating__icon {
    width: 10px
}

.b-rating_type_10_extra .b-rating__star .b-rating__icon, body .b-rating_type_10_extra .b-rating__star-hover .b-rating__icon {
    background-position: -115px -45px
}

.b-rating_type_10_extra .b-rating__star-other .b-rating__icon {
    background-position: -115px -55px
}

.b-rating_type_10_extra .b-rating__star-other-half .b-rating__icon {
    background-position: -115px -107px
}

.b-rating_type_10_extra .b-rating__star-my .b-rating__icon, .b-rating_type_10_extra .b-rating__star-my-hover .b-rating__icon {
    background-position: -115px -65px
}

.b-rating_type_15 .b-rating__star {
    font-size: 20px
}

.b-rating_type_15 .b-rating__icon {
    width: 15px
}

.b-rating_type_15 .b-rating__star .b-rating__icon, .b-rating_type_15 .b-rating__star-hover .b-rating__icon, body .b-rating_type_15 .b-rating__star-hover .b-rating__icon {
    background-position: -50px 0
}

.b-rating_type_15 .b-rating__star-other .b-rating__icon, .b-rating_type_15 .b-rating__star-other-hover .b-rating__icon {
    background-position: -50px -15px
}

.b-rating_type_15 .b-rating__star-other-half .b-rating__icon {
    background-position: -50px -77px
}

.b-rating_type_15 .b-rating__star-my .b-rating__icon, .b-rating_type_15 .b-rating__star-my-hover .b-rating__icon {
    background-position: -50px -30px
}

.b-rating_type_15_extra .b-rating__star {
    font-size: 20px
}

.b-rating_type_15_extra .b-rating__icon {
    width: 15px
}

.b-rating_type_15_extra .b-rating__star .b-rating__icon, body .b-rating_type_15_extra .b-rating__star-hover .b-rating__icon {
    background-position: -115px 0
}

.b-rating_type_15_extra .b-rating__star-other .b-rating__icon {
    background-position: -115px -15px
}

.b-rating_type_15_extra .b-rating__star-other-half .b-rating__icon {
    background-position: -115px -76px
}

.b-rating_type_15_extra .b-rating__star-my .b-rating__icon, .b-rating_type_15_extra .b-rating__star-my-hover .b-rating__icon {
    background-position: -115px -30px
}

.b-rating_type_20 .b-rating__star {
    font-size: 30px
}

.b-rating_type_20 .b-rating__icon {
    width: 20px
}

.b-rating_type_20 .b-rating__star .b-rating__icon, .b-rating_type_20 .b-rating__star-hover .b-rating__icon, body .b-rating_type_20 .b-rating__star-hover .b-rating__icon {
    background-position: -30px 0
}

.b-rating_type_20 .b-rating__star-other .b-rating__icon, .b-rating_type_20 .b-rating__star-other-hover .b-rating__icon {
    background-position: -30px -20px
}

.b-rating_type_20 .b-rating__star-other-half .b-rating__icon {
    background-position: -30px -59px
}

.b-rating_type_20 .b-rating__star-my .b-rating__icon, .b-rating_type_20 .b-rating__star-my-hover .b-rating__icon {
    background-position: -30px -40px
}

.b-rating_type_20_extra .b-rating__star {
    font-size: 30px
}

.b-rating_type_20_extra .b-rating__icon {
    width: 20px
}

.b-rating_type_20_extra .b-rating__star .b-rating__icon, body .b-rating_type_20_extra .b-rating__star-hover .b-rating__icon {
    background-position: -95px 0
}

.b-rating_type_20_extra .b-rating__star-other .b-rating__icon {
    background-position: -95px -20px
}

.b-rating_type_20_extra .b-rating__star-other-half .b-rating__icon {
    background-position: -95px -58px
}

.b-rating_type_20_extra .b-rating__star-my .b-rating__icon, .b-rating_type_20_extra .b-rating__star-my-hover .b-rating__icon {
    background-position: -95px -40px
}

.b-rating_type_30 .b-rating__star {
    font-size: 35px
}

.b-rating_type_30 .b-rating__icon {
    width: 30px
}

.b-rating_type_30 .b-rating__star-hover .b-rating__icon, body .b-rating_type_30 .b-rating__star-hover .b-rating__icon {
    background-position: 0 0
}

.b-rating_type_30 .b-rating__star-other .b-rating__icon, .b-rating_type_30 .b-rating__star-other-hover .b-rating__icon {
    background-position: 0 -30px
}

.b-rating_type_30 .b-rating__star-other-half .b-rating__icon {
    background-position: 0 -89px
}

.b-rating_type_30 .b-rating__star-my .b-rating__icon, .b-rating_type_30 .b-rating__star-my-hover .b-rating__icon {
    background-position: 0 -60px
}

.b-rating_type_30_extra .b-rating__star {
    font-size: 35px
}

.b-rating_type_30_extra .b-rating__icon {
    width: 30px
}

.b-rating_type_30_extra .b-rating__star .b-rating__icon, body .b-rating_type_30_extra .b-rating__star-hover .b-rating__icon {
    background-position: -65px 0
}

.b-rating_type_30_extra .b-rating__star-other .b-rating__icon {
    background-position: -65px -30px
}

.b-rating_type_30_extra .b-rating__star-other-half .b-rating__icon {
    background-position: -65px -89px
}

.b-rating_type_30_extra .b-rating__star-my .b-rating__icon, .b-rating_type_30_extra .b-rating__star-my-hover .b-rating__icon {
    background-position: -65px -60px
}

.b-rating_type_model .b-rating__icon {
    background: url(/static/i/stars.png);
}

.b-rating_type_model .b-rating__star-other, .b-rating_type_model .b-rating__star-other-hover {
    color: #4085d2
}

.b-rating_type_model .b-rating__star-my, .b-rating_type_model .b-rating__star-my-hover {
    color: #beebff
}

.b-rating__star {
    color: #ccc
}

.b-rating__hover {
    color: #ccc !important
}

.b-rating__link {
    color: #666
}

.b-rating__with_text {
    margin-bottom: 6px
}

.b-rating__with_text .b-rating {
    position: relative;
    top: 2px;
    white-space: nowrap
}