@import 'base.css';

html, body, #wrapper {height: 100%;font-family: Arial,serif;}

body > #wrapper { height: auto; min-height: 100%; }

/* must be same height as the footer */
#content { overflow: auto; padding-bottom: 140px; background: #fff;}

footer {
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    height: 100px;
    clear: both;
    background: url("/static/i/bg.png") #efede4;
    border-top: 1px dotted #919B9C;
}

/*Opera Fix*/
body:before { /* thanks to Maleika (Kohoutec)*/
    content: "";
    height:100%;
    float: left;
    width: 0;
    margin-top: -32767px; /* thank you Erik J */
}

body{
    /*background: url("/static/i/bg.png") #efede4;*/
    background-color: #1C4E63;
    font-family: Arial,serif;
    font-size: 12px;
}
h1 {font-size: 24px;}
h2 {font-size: 22px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
td {
    border: 0;
}

a{
    color: #0f5172;
}
a:hover{
    color: #de5504;
}

select {
    font-size: 11px;
}

.input_error {
    border: 1px solid red;
    background-color: #ffa78b;
}
#top_ribbon {
    height: 25px;
    color: white;
    background-color: #333333;
    margin-bottom: 1em;
    padding-top: 5px;
}

.orange {
    color: #de5504;
}

.grey {
    color: #3c4143;
}

.blue {
    color: #0f5172;
}

h3 {
    font-size: 18px;
    color: #3c4143;
    font-family: Arial, serif;
}
#header_menu li{
    display: inline;
    list-style-type: none;
    margin: 0 1em;
    font-size: medium;
}

ul#header_menu {
    margin: 0 0 1em 0;
}

#copyright {
    text-align: center;
    margin-top: 2em;
    color: #3c4143;
    font: normal 12px Arial,serif;
}
#copyright a{
    color: #3c4143;
}

#copyright a:hover{
    color: #de5504;
}

#bottom_menu li{
    display: inline;
    list-style: none;
    margin: 0 0.8em;
    font: normal 12px Arial,serif;
}

#bottom_menu li a {
    color: #3c4143;
}

#bottom_menu li a:hover {
    color: #de5504;
}

ul#bottom_menu {
    margin: 1em 0 1em 2em;
}

div#phones {
    height: 70px;
    width: 160px;
    font-family: Arial;
    font-weight: bold;
    color: #0f5172;

}

#breadcrumbs {
    margin: 1.5em 2em 2em 0em;
    color: rgba(14, 88, 125, 0.52);
    font-size: 11px;
    width: 520px;
}

#breadcrumbs a {
    font: normal 12px Arial;
    color: #0f5172;
    display: inline-block;
    margin: 0em 0.5em;
}

#breadcrumbs a:visited {
    color: #0f5172 !important;
}

.selected {
    font-weight: bold;
}

#minicart {

}
ul#cart_order {
    float: right; margin: 1em 0 0 0;

}
ul#cart_order li {
    float: left;
    display: inline-block;
    margin-right: 0.5em;
    height: 46px;
    width: 140px;
    background: url("/static/i/order_step.png") no-repeat left -46px;
}

ul#cart_order li.active {
    background: url("/static/i/order_step.png") no-repeat left 0px;
}

ul#cart_order li .step_nbr {
    font: italic 24px Georgia;
    color: #fff;
    height: 46px;
    width: 46px;
    margin: 7px 6px 0 0;
    text-align: center;
    vertical-align: middle;
    float: left;
}

ul#cart_order li a {
    display: block;
    margin: 0.8em 0;
}
ul#cart_order li div {
    display: block;
    margin: 0.8em 0;
}

table#full_cart_tbl {
    width: 100%;
    margin: 2em 0;
    color: #3c4143;
}
table#full_cart_tbl thead th {
    border: 0;
    font: normal 14px Arial,serif;
    text-align: center;
}
table#full_cart_tbl tbody tr {
    height: 80px;
}
table#full_cart_tbl tbody td.image {
    width: 60px;
    border-bottom: 1px solid #919B9C;
    vertical-align: middle;
}
table#full_cart_tbl tbody td.descr {
    width: 330px;
    border-bottom: 1px solid #919B9C;
    font:normal 12px Arial,serif;
    padding-top: 0.7em;
    position: relative;
}
table#full_cart_tbl tbody td.descr .name {
    font-weight: bold;
    font-size: 14px;
    clear: right;
}
table#full_cart_tbl tbody td.descr .taste {
    float: left;
    margin-right: 3em;
}
table#full_cart_tbl tbody td.descr .uom {
    float: left;
}
table#full_cart_tbl tbody td.descr .price {
    float: right;
    font-size: 21px;
    padding: 0.3em 1.5em;
}
table#full_cart_tbl tbody td.descr .special_price {
    float: right;
    padding: 0.3em 1.5em;
    text-shadow: #660903 1px;
    font: bold 16pt Arial;
    color: rgba(172, 32, 23, 0.90);
    position: absolute;
    bottom: 15px;
    left: 190px;
}

table#full_cart_tbl tbody td.descr .brand {
    margin: 0.5em 0 1em 0;
}
table#full_cart_tbl tbody td.qty {
    width: 90px;
    border-bottom: 1px solid #919B9C;
    text-align: center;
    vertical-align: middle;
    padding-left: 1em;
}
table#full_cart_tbl tbody td.qty div.selector{
    width: 76px;
}
table#full_cart_tbl tbody td.qty div.selector a {
    height: 27px;
    width: 26px;
    display: block;
    float: left;
    text-decoration: none;
    border: 0;
}
table#full_cart_tbl tbody td.qty div.selector a.plus {
    background: url("/static/i/selector.png") no-repeat -126px center;
}
table#full_cart_tbl tbody td.qty div.selector a.minus {
    background: url("/static/i/selector.png") no-repeat -77px center;
}
table#full_cart_tbl tbody td.qty div.selector a.plus:hover {
    background: url("/static/i/selector.png") no-repeat -50px center;
}
table#full_cart_tbl tbody td.qty div.selector a.minus:hover {
    background: url("/static/i/selector.png") no-repeat 0px center;
}
table#full_cart_tbl tbody td.qty div.selector div.qty_field{
    height: 27px;
    width: 24px;
    float: left;
    vertical-align: middle;
    font: normal 16px Arial,serif;
    background: url("/static/i/selector.png") no-repeat -26px center;
}
table#full_cart_tbl tbody td.qty div.selector div.qty_field div {
    margin-top: 4px;
}

table#full_cart_tbl tbody td.qty div.qty_disabled{
    font: normal 16px Arial, serif;
    padding-right: 1em;
}
table#full_cart_tbl tbody td.price {
    width: 120px;
    border-bottom: 1px solid #919B9C;
    text-align: center;
    vertical-align: middle;
    font: normal 21px Arial,serif;
}

tr.to_delete td img {
    opacity: 0.2;
}
span.cart_rur {
    font: normal 12px Arial,serif;
}

table#full_cart_tbl tbody tr.order_info {
    height: 50px;
    padding: 0.7em 0;
    font-family: Arial, serif;
    text-align: center;
}

table#full_cart_tbl tbody tr.order_info td {
    padding-top: 1em;
    border: 0;
}

td#full_cart_qty {
    font-size: 16px;
    text-align: center;
}
span#full_cart_price {
    font-size: 21px;
    text-align: center;
}
td#discount_descr div {
    font-size: 16px;
    padding-left: 1.5em;
    text-align: left;
    vertical-align: top;
}
td#discount_descr div div {
    font-size: 12px;
    width: 220px;
    line-height: 1.2em;
}
span#discount_amount {
    font-size: 21px;
}
td#order_amount {
    text-align: right;
    font-size: 16px;
}
td#order_amount div {
    font-size: 12px;
    float: right;
    width: 110px;
    text-align: center;
    line-height: 1.2em;
}
span#full_order_amount {
    font-family: Arial,serif;
    font-size: 21px;
}

.f24as {
    font: normal 24px Arial, serif;
}
.f21as {
    font: normal 21px Arial, serif;
}
.f18as{
    font: normal 18px Arial, serif;
}
.f16as{
    font: normal 16px Arial, serif;
}
.f14as{
    font: normal 14px Arial, serif;
}
.f12as{
    font: normal 12px Arial, serif;
}
.f10as{
    font: normal 10px Arial, serif;
}
#cart_del_cmd {
    float: left;
    color: #535353;
    text-decoration: none;
    line-height: 1.1em;
    padding: 0;
    margin: 0 0 0 2em;;
    font-size: 12px;
    border-bottom: #535353 dotted 1px;
}

.fl{
    float:left;
}
.fr{
    float:right;
}

#empty_cart_message {
    display: none;
}

.brand_logo_big{
    padding: 3px;
    border: 1px solid #ccccc6;
    margin-bottom: 5px;
    margin-top: 5px;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.product_block {
    height: 230px;
    padding-bottom: 1em;
    position: relative;
    background-color: white;
    margin-bottom: 25px;
}
.product_block a.name{
    font: normal 11px Arial;
    color: #0f5172;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    clear: both;
    height: 23px;
}
.product_block p {
    color: #35393b;
}

.product_block p.taste {
    margin: 0.5em 0 0 0 !important;
    font: normal 11px Arial;
}

.product_block p.uom {
    margin: 0.5em 0 0 0 !important;
    font: normal 11px Arial;
}

.product_block .price {
    text-shadow: #333333 1px;
    font: bold 18pt Arial;
    float: left;
    color: #35393b;
    position: absolute;
    bottom: 15px;
}
.product_block .old_price {
    text-shadow: #333333 1px;
    font: bold 12px Arial;
    float: left;
    color: #35393b;
    position: absolute;
    bottom: 4px;
    left: 25px;
    text-decoration: line-through;
}
.product_block .special_price {
    text-shadow: #660903 1px;
    font: bold 16pt Arial;
    float: left;
    color: rgba(172, 32, 23, 0.90);
    position: absolute;
    bottom: 15px;
}
.complex_header{
    margin-bottom: 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #0f5172;
}

.complex_header .price {
    text-shadow: #333333 1px;
    font: bold 18pt Arial;
    float: left;
    color:  #fff;/*#35393b;*/
}

.product_block .out_of_stock {
    font: normal 12px Arial;
    color: #676662;
}

.product_mini_block {
    height: 200px;
    position: relative;
    background-color: white;
    text-align: center;
}

.product_mini_block a.name{
    font: normal 11px Arial;
    color: #0f5172;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    clear: both;
    height: 23px;
}

.product_mini_block p.taste {
    margin: 0.5em 0 0 0 !important;
    font: normal 11px Arial;
    clear: both;
}

.product_mini_block p.uom {
    margin: 0.5em 0 0 0 !important;
    font: normal 11px Arial;
    float: left;
}

.product_mini_block a.to_cart_link {
    margin-top: 0.2em;
    text-decoration: none;
    border-bottom: 1px dashed #35393b;
    font: normal 12px Arial,serif;
    cursor: pointer;
}

.product_mini_block a.to_cart_link:hover {
    color: #de5504;
    border-bottom: 1px dashed #de5504;
}

.product_mini_block .price {
    text-shadow: #333333 1px;
    font: bold 16pt Arial,serif;
    text-align: center;
    color: #35393b;
    margin-top: 0.5em;
}

.product_mini_block p {
    color: #35393b;
}

.product_block_min {
    height: 150px;
    padding-bottom: 2em;

}

.product_block_min a {
    font-size: xx-small;
}

.product_block .product_bottom_block {
    position: absolute;
    bottom: 15px;
    right: 0px;
    cursor: pointer;
}

.product_main_block .product_price {
    text-shadow: #333333 1px;
    font-size: 13pt;
    float: left;
    bottom: 25px;
    margin: 1em 0 0 2.5em;
}

.b-rating_type_model .b-rating__icon{
    background: url("/static/i/stars.png");
}
.b-rating__star {
    color: #CCC;
}
.b-rating_type_30 .b-rating__star {
    font-size: 35px;;
}
.b-rating__icon {
    border: 0;
}
.b-rating_type_30 .b-rating__icon {
    width: 30px;
}

#cart_mini_total {
    color: #0f5172;
    font-size: 14px;
    font-weight: bold;
    border: 1px dashed #c4c4c4;
    margin-bottom: 1em;
    width:165px;
    margin-right:10px;
}

#cart_mini_total .empty {
    padding: 25px 20px 0px 45px;
    font-size: 12px;
    height: 65px;
    background: url("/static/i/empty_cart.png") 10px 25px no-repeat;
}
#cart_mini_total .full {
    padding: 10px 20px 10px 60px;
    background: url("/static/i/full_cart.png") 10px 10px no-repeat;
}


#cart_mini_total a.clink {
    color: #0f5172;
    display: inline-block;
}

#cart_mini_total a.clink:visited {
    color: #0f5172;
}
a.jlink {
    color: #0f5172;
    text-decoration: none;
    border-bottom: 1px dashed #0f5172; 
}
a.jlink:hover {
    color: #de5504;
    border-bottom: 1px dashed #de5504;
    cursor: pointer;
}
.order_form {
    font: normal 12px Arial, serif;
}
.order_form tr td:first-child{
    width: 200px;
}

#order_button {
    margin-right: 3.5em;
    height: 50px;
    width: 160px;
    font: normal 16px Arial,serif;
}
span.required {
    color: red;
    vertical-align: text-top;
}

.catlbl {
    background: url(/static/i/catlbl.jpg) no-repeat;
    height: 52px;
    width: 220px;
    text-align: center;
    padding-top: 0.7em;
    font-family: Arial;
    font-size: 14pt;
    font-weight: normal;
    color: #fdece0;
}

a.product_cart_btn {
    margin:0;
    float: right;
    margin-right: 1em;
    width: 162px;
    height: 55px;
    line-height: 52px;
    background: url('/static/i/product_button.png') 0 0 no-repeat;
    text-decoration: none;
    text-align: center;
    color: rgba(53, 57, 59, 0.81);
    font-size: 18px;
    vertical-align: middle;

    text-shadow: 0 -1px 0 rgba(67, 72, 74, 0.74);
}
a.product_cart_btn:hover {
    background: url('/static/i/product_button.png') 0 -55px no-repeat;
    color: white;
}

.page_content p:first-letter {
    margin-left: 1em;
}

.page_content {
    font: normal 12px Arial, serif;
}

.page_contacts{
    font: normal 12px Arial,serif;
}
.page_contacts p:first-letter{
    margin-left: 1em;
}

h1.page_title {
    font: normal 24px Arial,serif;
    margin: 0.5em 0 0.5em 0.8em;
}

.page_content ul {
    list-style: none;
}

.page_content ul li {
    margin: 1.5em 0 1.5em 0;
    background:  url("/static/i/check.png") no-repeat top left;
    padding-left: 40px;
}

.page_pay_delivery ul li {
    height: 50px;
    margin: 1em 0 1em 0;
    background:  url("/static/i/check.png") no-repeat top left;
    padding-left: 40px;
}
.pay_instructions_content{

}

#missions_block #mission_list{
    background: rgb(37,141,200); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(37,141,200,1) 0%, rgba(1,106,155,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,141,200,1)), color-stop(100%,rgba(1,106,155,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(1,106,155,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(1,106,155,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(1,106,155,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(1,106,155,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#016a9b',GradientType=0 ); /* IE6-9 */
    padding: 0.5em 0.2em 0.8em 0.6em;
}
#missions_block {
    color: #0f5172;
    margin-bottom: 1em;
}

#missions_block a {
    color: white;
}
#missions_block a:hover {
    color: #07c5ff;
}

#missions_block #target_header {
    text-align: left;
    margin-bottom: 0;
    background: url('/static/i/target.png') 10px 0 no-repeat;
    height: 30px;
    padding-top: 7px;
    padding-left: 50px;
}

#search_selectors{
    margin-top: 0.8em;
    background: rgb(37,141,200); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(37,141,200,1) 0%, rgba(1,106,155,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,141,200,1)), color-stop(100%,rgba(1,106,155,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(1,106,155,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(1,106,155,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(1,106,155,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(1,106,155,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#016a9b',GradientType=0 ); /* IE6-9 */

}

.category_announce{
    float: right;
    margin-left: 1em;
    margin-top: 1em;
}
.category_announce p {
    margin: 0;
}
.category_announce_line {
    height: 80% !important;
    width: 3px;
    background: rgb(249,157,107); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,157,107,1) 0%, rgba(219,79,4,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,157,107,1)), color-stop(100%,rgba(219,79,4,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,157,107,1) 0%,rgba(219,79,4,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,157,107,1) 0%,rgba(219,79,4,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,157,107,1) 0%,rgba(219,79,4,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(249,157,107,1) 0%,rgba(219,79,4,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f99d6b', endColorstr='#db4f04',GradientType=0 ); /* IE6-9 */

}

.box_round {
    -webkit-border-radius: 7px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
    -moz-border-radius: 7px; /* FF1-3.6 */
    border-radius: 7px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */

    /* useful if you don't want a bg color from leaking outside the border: */
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

li .tag {
    font-size: 11pt;
/*    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);*/
    float: left;  /* Makes each tag stay together in one piece */
    margin: 5px;
}

li .tag .center{
    float: left;
    height: 22px;  /* Same as your image height */
    width: auto;
    padding: 0px 6px 4px 6px;
}
li .tag .center a {
    /*vertical-align: middle; /* Important for fitting the text in perfectly */
    text-decoration: none;
    line-height: 22px;
    vertical-align: top;
    border-bottom: 1px dashed #0f5172;
}
li.active .tag .center{
    background: url('/static/i/gradient.png') repeat-x scroll left top transparent;
}

li.active .tag .center a{
    color: white;
    border-bottom: 0;
}
li.active .tag-left .left{
    background: url('/static/i/left.png') no-repeat scroll left top transparent;
    display: block;
    float: left;
    height: 22px;  /* Same as your image height */
    width: 6px;  /* Same as your image width */
}

li.active .tag-left .right{
    background: url('/static/i/right.png') no-repeat scroll right top transparent;
    display: block;
    float: left;
    height: 22px;  /* Same as your image height */
    width: 5px;  /* Same as your image width */
}

ul {
    list-style: none;
}

ul li a{
    font: arial;
    color: #0c4161;
}
ul li a:visited {
    color: #0c4161;
}
.input{
    width: 286px;
    border: 1px solid #D8D8D8;
    padding: 9px 0 9px 5px;
    font-size: 12px;
    font-family: Arial, serif;
}
.texta {
    font-size: 12px;
    font-family: Arial, serif;
    border: 1px solid #D8D8D8;
    width: 285px;
    height: 98px;
    overflow: auto;
    padding: 5px 0 0 5px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 7px 10px 7px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
    font-size: 11px;
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
}

.btn:hover {
    background-position: 0 -1px;
    color: #333;
    text-decoration: none;
}

.btn.incart {
    color: #ffffff;
    background-color: #dc6b2d;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#fc8543), to(#c24602));
    background-image: -moz-linear-gradient(top, #fc8543, #c24602);
    background-image: -ms-linear-gradient(top, #fc8543, #c24602);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc8543), color-stop(100%, #c24602));
    background-image: -webkit-linear-gradient(top, #fc8543, #c24602);
    background-image: -o-linear-gradient(top, #fc8543, #c24602);
    background-image: linear-gradient(top, #fc8543, #c24602);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8543', endColorstr='#c24602', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #fc8543 #fc8543 #c24602;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    margin-top: 0.3em;
}

.btn.tocart {
    color: #ffffff;
    background-color: #258DC8;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#259fde), to(#246299));
    background-image: -moz-linear-gradient(top, #259fde, #246299);
    background-image: -ms-linear-gradient(top, #259fde, #246299);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #259fde), color-stop(100%, #246299));
    background-image: -webkit-linear-gradient(top, #259fde, #246299);
    background-image: -o-linear-gradient(top, #259fde, #246299);
    background-image: linear-gradient(top, #259fde, #246299);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#259fde', endColorstr='#246299', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #259fde #259fde #246299;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    margin-top: 0.3em;
}

.nav {
    margin-bottom: 5em;
}
.nav a, .nav .current {
    background: #FDFDFD;
    border: 1px solid #DADAD3;
    color: #666;
    display: block;
    float: left;
    margin-right: 3px;
    padding: 2px 9px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    border-image: initial;
}

.nav a:hover, .nav .current {
    border-color: #BB5916;
    color: white;
    text-shadow: 0 1px 0 #B75613;
    background-color: #E56B18;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eb861e), to(#df5012));
    background-image: -webkit-linear-gradient(top, #eb861e, #df5012);
    background-image: -moz-linear-gradient(top, #eb861e, #df5012);
    background-image: -ms-linear-gradient(top, #eb861e, #df5012);
    background-image: -o-linear-gradient(top, #eb861e, #df5012);
    background-image: linear-gradient(top, #eb861e, #df5012);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eb861e', EndColorStr='#df5012');
}


.ptag {
    float: left;
    margin: 5px;
    height: 29px;  /* Same as your image height */
    width: auto;
}


.ptag a{
    background: url("/static/i/gradient1.png") repeat-x scroll left top transparent;
    float: left;
    height: 29px;
    padding: 5px 6px;

    color: #0F2D39;
    font-size: 11pt;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
    padding-top: 2px;
}


.ptag:before{
    content: '';
    background: url("/static/i/tagleft_left.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 29px;  /* Same as your image height */
    width: 15px;  /* Same as your image width */

}

.ptag:after{
    content: '';
    background: url("/static/i/tagleft_right.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 29px;  /* Same as your image height */
    width: 4px;  /* Same as your image width */
}




/* Flip-tag Rules +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.ptag.flip:before{
    content: '';
    background: url("/static/i/tagright_left.png") no-repeat scroll left top transparent;
    display: block;
    float: left;
    height: 29px;  /* Same as your image height */
    width: 4px;  /* Same as your image width */
}

.ptag.flip:after{
    content: '';
    background: url("/static/i/tagright_right.png") no-repeat scroll right top transparent;
    display: block;
    float: right;
    height: 29px;  /* Same as your image height */
    width: 16px;  /* Same as your image width */
}





/* Mouse Hover Rules +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.ptag a:hover{
    background: url("/static/i/gradient_hover.png") repeat-x scroll left top transparent;
}


.ptag:hover:before{
    background: url("/static/i/tagleft_left_hover.png") no-repeat scroll 0 0 transparent;

}

.ptag:hover:after{
    background: url("/static/i/tagleft_right_hover.png") no-repeat scroll 0 0 transparent;
}

.ptag.flip:hover:before{
    background: url("/static/i/tagright_left_hover.png") no-repeat scroll left top transparent;
}

.ptag.flip:hover:after{
    background: url("/static/i/tagright_right_hover.png") no-repeat scroll right top transparent;
}

p {font-size: 12px;}