{% extends 'base.html' %}
{% load thumbnail tags cart_tags%}

{% block breadcrumbs %}{% show_breadcrumbs %}{% endblock %}
{% block content %}
    <div class="grid_9 alpha">
        {% if query %}
            <h3>Результаты поиска</h3>

            {% for result in page.object_list %}
                    <div class="grid_3 product_block {% cycle 'alpha' '' 'omega' %}">
                        {% thumbnail result.object.image "150x150" as im %}
                            <a href="/catalog/product/{{ result.object.id }}"><img src="{{ im.url }}" style="margin:{{ im|margin:"150x150" }}"/></a>
                        {% endthumbnail %}
                        <a href="/catalog/product/{{ result.object.id }}" class="name">
                            {{ result.object.name }}
                        </a>
                        <div>
                            {% if result.object.taste %}
                                <p class="fl taste">{{ result.object.taste }}</p>
                            {% endif %}
                            {% if result.object.uom > 0 %}
                                <p class="uom fr">{{ result.object.uom_units }} {{ result.object.get_uom_display }}</p>
                            {% endif %}
                        </div>
                        <br style="clear: both;">

                        {% if result.object.qty_avail > 0 %}
                            <div class="price">{{ result.object.customer_price }},-</div>
                            <a class="btn incart fr" onclick="Dajaxice.cart.add_to_cart(Dajax.process, {'product_id':{{ result.object.id }}});return false;">
                                В корзину
                            </a>
                        {% else %}
                            <div class="out_of_stock">Нет в наличии</div>
                        {% endif %}
                    </div>
            {% empty %}
                <p>По Вашему запросу ничего не найдено.</p>
            {% endfor %}
        {% endif %}
        &nbsp;
    </div>
    <div class="grid_3 omega" style="padding-top: 1.5em;">
        {%block cart_mini_total %}
            {% show_cart_mini_total %}
            <div class="clear">&nbsp;</div>
        {% endblock %}
        {% show_popular_tags %}
        {% show_seen_scope %}
    </div>
{% endblock %}