{% extends 'base.html' %}
{% load thumbnail cart_tags tags%}

{% block title %}Статьи про спорт и питание{% endblock %}

{% block content %}
<div id="breadcrumbs"><a href="/">Магазин спортивного питания</a>
    / <span style="font: normal 12px Arial;color: #0F5172;">Статьи</span>
</div>
<div class="grid_9 alpha page_content">

    <h1 class="f21as">Интесные статьи про питание и тренировки</h1>
    {% for item in articles %}
    {% if forloop.first %}
    <ul style="margin-top: 2em;">
        {% endif %}
        <li style="background: none; margin: 0 0 0.5em 0;padding-left: 20px;"><a href="/article/{{item.id}}">{{ item.title }}</a></li>
        {% if forloop.last %}
    </ul>
    {% endif %}
    {% endfor %}
</div>
<div class="grid_3 omega">
    {% show_missions %}
    {% show_seen_scope %}
</div>
{% endblock %}