{% extends 'base.html' %}
{% load thumbnail cart_tags tags%}

{% block title %}{{ article.title }}{% endblock %}
{% block description %}{{ article.meta_description }}{% endblock %}

{% block content %}
<div id="breadcrumbs"><a href="/">Магазин спортивного питания</a>
    / <a href="/article/">Статьи</a>

</div>
<div class="grid_9 alpha">
    <h1 class="f21as">{{article.title}}</h1>
    {{ article.content|safe }}
</div>
<div class="grid_3 omega">
    {% show_missions %}
    {% show_seen_scope %}
</div>
{% endblock %}