{% extends 'base.html' %}
{% load thumbnail cart_tags tags%}

{% block cart %}{% show_cart_mini_items %}{% endblock %}
{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <div id="breadcrumbs"><a href="/">Магазин спортивного питания</a>
        / <span style="font: normal 12px Arial;color: #0F5172;">Часто задаваемые вопросы</span>
    </div>
    <div class="grid_9 alpha page_content">
        &nbsp;
        {% for item in faq %}
            {% if forloop.first %}
                <ul>
            {% endif %}
                    <li style="background: none;">{{ item.question|safe }}</li>
            {% if forloop.last %}
                </ul>
            {% endif %}
        {% endfor %}
    </div>
    <div class="grid_3 omega">
        {% show_missions %}
        {% show_popular_tags %}
        {% show_seen_scope %}
    </div>
{% endblock %}