{% if news %}
    <div class="grid_9 alpha omega" style="margin: 2em 0em;">
    <div style="font-size:22px;border-bottom: 1px #a3a3a3 solid;padding-bottom: 0.3em;" class="grey">Новости</div>
        {% for item in news %}
            <div>
                <div><span style="margin-right:1em;font-size: 11px;vertical-align: top;">{{ item.creation_date|date:"d.m.y" }}</span><b style="font-size: 14px;" class="grey">{{ item.title }}</b></div>
                <p>{{ item.text|safe }}</p>
            </div>
        {% endfor %}
    </div>
{% endif %}