{% extends 'base.html' %}
{% load thumbnail cart_tags tags%}


{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.title }}{% endblock %}
{% block content %}
    <div id="breadcrumbs"><a href="/">Магазин спортивного питания</a>
        / <span style="font: normal 12px Arial;color: #0F5172;">{{ page.title }}</span>
    </div>
    <div class="grid_9 alpha page_content">
    {{ page.content|safe }}
    </div>
    <div class="grid_3 omega">
        {% show_missions %}

        {% show_seen_scope %}
    </div>
{% endblock %}