{% extends 'base.html' %}
{% load thumbnail cart_tags tags%}

{% block title %}{{ page.title }}{% endblock %}
{% block description %}Интернет-магазин Pitfit.ru - {{ page.title }}{% endblock %}
{% block content %}
     <div id="breadcrumbs"><a href="/">Магазин спортивного питания</a>
            / <span style="font: normal 12px Arial;color: #0F5172;">Скидки</span>
        </div>
    <div class="grid_9 alpha f12as">

        {{ page.content|safe }}
    </div>
    <div class="grid_3 omega">
        {% show_missions %}
        {% show_seen_scope %}
    </div>
{% endblock %}