{% extends 'base.html' %}
{% load thumbnail cart_tags tags%}

{% block title %}{{ page.title }}{% endblock %}
{% block description %}Интернет-магазин Pitfit.ru - {{ page.title }}{% endblock %}
{% block js %}{% endblock %}
{% block content %}
    <!--<h1 class="page_title clear">{{ page.title }}</h1>-->
    <div id="breadcrumbs"><a href="/">Магазин спортивного питания</a>
    / <span style="font: normal 12px Arial;color: #0F5172;">Контакты</span>
    </div>
    <div class="grid_9 alpha page_contacts">

        <div class="grid_3 alpha"><b style="margin-left: 1em;">Телефоны</b>
            <div id="ya-phone-3">
                <p style="margin-bottom: 0px;margin-top: 1em;">8(916)124-82-34</p>
            </div>
        </div>
        <div class="grid_3"><b style="margin-left: 1em;">График работы</b>
            <p style="margin-bottom: 0px;margin-top: 1em;">Пн-Пт: с 9:00 до 18:00</p>
            <p style="margin-top: 0px;">Сб,Вс: выходной</p>
        </div>
        <div class="grid_3 omega"><b style="margin-left: 1em;">E-mail</b>
            <p style="margin-top: 1em;">
                mail@pitfit.ru
            </p>
        </div>
        <br class="clear">
        <div style="margin:1em;"><b>Адрес</b></div>
        <p>
            Москва, Смольная, дом 63, строение А, офис №7
        </p>
        <div id="YMapsID-3935" class="grid_9" style="height:326px; border: 1px dashed #3c4143;">
        <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=QKPguU0xD1qcAnTfiiO1bK-54mMgrLcG&width=520&height=326"></script>
        </div>
    </div>
    <div class="grid_3 omega">
        {% show_missions %}
        {% show_seen_scope %}
    </div>
{% endblock %}