{% extends 'base.html' %}
{% load thumbnail cart_tags tags%}

{% block title %}{{ page.title }}{% endblock %}
{% block description %}Интернет-магазин Pitfit.ru - {{ page.title }}{% endblock %}
{% block content %}
    <!--<h1 class="page_title clear">{{ page.title }}</h1>-->
    <div id="breadcrumbs"><a href="/">Магазин спортивного питания</a>
            / <span style="font: normal 12px Arial;color: #0F5172;">Оплата и доставка</span>
        </div>
    <div class="grid_9 alpha page_pay_delivery f12as">

        {{ page.content|safe }}
    </div>
    <div class="grid_3 omega">
        {% show_missions %}
        {% show_seen_scope %}
    </div>

{% endblock %}