{% load tags cart_tags dajaxice_templatetags cms_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Спортивное питание - протеины, гейнер, аминокислоты, креатин - интернет-магазин Pitfit.ru{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/960.css" />
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
    <script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript"></script>
    <script src="/static/js/dajaxice.core.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.dajax.core.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/static/js/fancybox/jquery.fancybox-1.3.4.css"/>
    <link rel="stylesheet" href="/static/css/rating.css"/>
    <script type="text/javascript" src="/static/js/fancybox/jquery.fancybox-1.3.4.js"></script>
    {% block js %}
    {% endblock %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#login_form_link').fancybox();
        });
    </script>
    <link rel="icon" href="http://pitfit.ru/static/i/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://pitfit.ru/static/i/favicon.ico" type="image/ico">
    <meta name="Description" content="{% block description %}Спортивное питание с доставкой по Москве и регионам РФ. Спорт питание, низкие цены и только качественные товары для бодибилдинга.{% endblock %}">
    <meta name="google-site-verification" content="V4oTZyThNiwFPOb6kfLt87oyGkQ3P3FZ-YzkbO5X0SM" />
    <meta name="telderi" content="b388a98a3f19c824d61cbc613c9a6d8a" />
    <meta name='wmail-verification' content='c4a9ca524c56292e' />
    <!--Google.Analytics counter-->

    <script type="text/javascript">
        var _gaq = _gaq || [];
        var pluginUrl =
                '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
        _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
        _gaq.push(['_setAccount', 'UA-18932210-1']);
        _gaq.push(['_addOrganic', 'nova.rambler.ru', 'query']);
        _gaq.push(['_addOrganic', 'go.mail.ru', 'q']);
        _gaq.push(['_addOrganic', 'nigma.ru', 's']);
        _gaq.push(['_addOrganic', 'webalta.ru', 'q']);
        _gaq.push(['_addOrganic', 'aport.ru', 'r']);
        _gaq.push(['_addOrganic', 'poisk.ru', 'text']);
        _gaq.push(['_addOrganic', 'km.ru', 'sq']);
        _gaq.push(['_addOrganic', 'liveinternet.ru', 'ask']);
        _gaq.push(['_addOrganic', 'quintura.ru', 'request']);
        _gaq.push(['_addOrganic', 'search.qip.ru', 'query']);
        _gaq.push(['_addOrganic', 'gde.ru', 'keywords']);
        _gaq.push(['_addOrganic', 'gogo.ru', 'q']);
        _gaq.push(['_addOrganic', 'ru.yahoo.com', 'p']);
        _gaq.push(['_addOrganic', 'images.yandex.ru', 'q', true]);
        _gaq.push(['_addOrganic', 'blogsearch.google.ru', 'q', true]);
        _gaq.push(['_addOrganic', 'blogs.yandex.ru', 'text', true]);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_trackPageLoadTime']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <!-- /Google.Analytics counter-->
</head>
<body>
    <div id="wrapper">
        <div id="content" class="container_16" style="-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); box-shadow: 0 0 10px rgba(0,0,0,0.5);">
            <header class="clearfix">
                <div class="grid_4" style="text-align: center;padding: 1em 0;">
                    {% ifequal request.path "/" %}
                        <img alt="Спортивное питание в магазине PITFIT"
                             title="Магазин спортивного питания PitFit.ru" src="/static/i/logo.jpg" style="border: 0px"/>
                    {% else %}
                        <a href="/"><img alt="Спортивное питание в магазине PITFIT"
                                         title="Магазин спортивного питания PitFit.ru" src="/static/i/logo.jpg" style="border: 0px"/>
                        </a>
                    {% endifequal %}

                </div>

                <div class="grid_12">
                    <div class="prefix_7 grid_5">
                        <div id="login_block"  class="f12as grey" style="text-align: right; padding-right: 2em;margin-top: 0.5em;">
                            {% if request.user.is_authenticated %}
                                {% if request.user.first_name|length > 0 %}{{ request.user.first_name }}{% else %}{{ request.user.username }}{% endif %}
                                [<a href="/account/logout" class="jlink">X</a>]
                                {% else %}<a id="login_form_link" class="jlink" href="#popup_login_form">Войти</a> или <a href="/account/register/" class="jlink" style="border-bottom: 1px solid;">Зарегистрироваться</a>
                            {% endif %}
                        </div>
                    </div>
                    <nav class="grid_12">
                        {% show_menu %}
                    </nav>
                    <div class="grid_12">
                        {% block cart %}
                            {% show_cart_mini_total %}

                        {% endblock %}
                        <div id="phones" class="fr">
                            <div id="ya-phone-1">
                                <div style="margin-top: 25px;margin-left: 5px;margin-bottom:5px;">
                                     <span style="vertical-align: middle; font-size: 15pt;">
                                        8(916)124-82-34</span>
                                </div>
                                <!--<div style="margin-top: 7px;margin-left: 5px;margin-bottom: 3px;"><span style="vertical-align: middle; font-size: 10pt;">(906)</span>
                                     <span style="vertical-align: middle; font-size: 19pt;">
                                        725-54-40</span>
                                </div>-->
                            </div>
                            <div style="text-align: center;">Работаем с 10 до 20</div>
                        </div>
                    </div>
                    <div class="grid_12 box_round alpha omega" id="search_selectors">
                        <div class="fl" style="padding-left: 1em;">{% show_global_filter %}</div>
                        <!--<div class="fr" style="margin: 0.8em 0; padding: 0 1em 0 0.3em;">
                            <form action="/search" method="get" >
                                <input style="float: right;" type="submit" value="найти" style="margin: 0 1em;"/>
                                <input type="text" size="32" value="" name="q" style="margin: 0 1em;"/>
                            </form>
                        </div>-->
                    </div>
                </div>
            </header>

            <section class="grid_4">
                {% show_categories %}
                {% show_brands %}

            </section>
            <section class="grid_12">
                <!-- Yandex.Metrika counter -->
                <script type="text/javascript">
                (function (d, w, c) {
                    (w[c] = w[c] || []).push(function() {
                        try {
                            w.yaCounter11816263 = new Ya.Metrika({id:11816263,
                                    webvisor:true,
                                    clickmap:true,
                                    trackLinks:true,
                                    accurateTrackBounce:true,params:window.yaParams||{ }});
                        } catch(e) { }
                    });

                    var n = d.getElementsByTagName("script")[0],
                        s = d.createElement("script"),
                        f = function () { n.parentNode.insertBefore(s, n); };
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                    } else { f(); }
                })(document, window, "yandex_metrika_callbacks");
                </script>
                <noscript><div><img src="//mc.yandex.ru/watch/11816263" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                <!-- /Yandex.Metrika counter -->
                {% block content %}{% endblock %}
            </section>
        </div>
    </div>
    <footer class="container_16">
        <div><div class="fr f18as grey" style="margin-right: 2em;"><div id="ya-phone-2">8(916) 124-82-34<br><!--(906) 725-54-40--></div>
        <!-- begin of Top100 code -->

            <div style="display: none;margin-top: 1em;">
    <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?3060508"></script>
    <noscript>

        <a href="http://top100.rambler.ru/navi/3060508/">
        <img src="http://counter.rambler.ru/top100.cnt?3060508" alt="Rambler's Top100" border="0" />
        </a>


    </noscript>
                </div>
    <!-- end of Top100 code -->
        </div>
        {% show_bottom_menu %}

        </div>
        <div id="copyright">© {% now "Y" %} {% ifequal request.path "/" %}Магазин спортивного питания pitfit.ru{% else %}
                                                     <a href="/">Магазин спортивного питания pitfit.ru</a>
                                   {% endifequal %}
        </div>
    </footer>
    <div style="display: none;">
        <div id="popup_login_form" style="position: relative;">
            <div style="font-size: 18px;" class="blue">Вход на сайт</div>
            {% comment %}<a href="javascript:void(0);" onclick="$.fancybox.close();"  class="close_cross" style="position: absolute;top: 0px; right: 10px;">Отмена</a>{% endcomment %}
            <form id="login_form" action="/account/login/" method="post">
                {% csrf_token %}
                <table class="f12as grey">
                    <tr>
                        <td style="vertical-align: top;">Электронная почта <span class="required">*</span></td>
                        <td style="vertical-align: top;">Пароль <span class="required">*</span>{%comment%}<a class="fr grey" style="font-style: italic; display: inline-block;" href="">Забыли пароль?</a>{%endcomment%}</td>
                    </tr>
                    <tr>
                        <td><input class="input" style="width: 200px;" id="email_login" name="email" type="text" value=""/></td>
                        <td><input class="input" style="width: 200px;" id="password_login" name="password" type="password" value=""></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;padding-top: 2em;">
                            <input type="submit" value="Войти" style="width: 200px;">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>



    <script src="/static/js/reformal.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        var reformalOptions = {
            project_id: 53942,
            project_host: "pitfit.reformal.ru",
            force_new_window: false
        };

        (function() {
            var script = document.createElement('script');
            script.type = 'text/javascript'; script.async = true;
            script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v1/reformal.js?1';
            document.getElementsByTagName('head')[0].appendChild(script);
        })();
    </script>
    <!-- Yandex.Metrika Marked Phone -->
    <script type="text/javascript" src="//mc.yandex.ru/metrika/phone.js?counter=11816263" defer="defer"></script>
    <!-- /Yandex.Metrika Marked Phone -->
    <script type="text/javascript">
        VK.Widgets.Group("vk_groups", {mode: 0, width: "auto"}, 35586460);
    </script>
    <!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'IX0OHPKQw7';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->
    <script>
           var rrPartnerId = "5355077b1e994414f44a23ba";
           var rrApi = {};
           var rrApiOnReady = rrApiOnReady || [];
           rrApi.addToBasket = rrApi.order = rrApi.categoryView = rrApi.view =
               rrApi.recomMouseDown = rrApi.recomAddToCart = function() {};
           (function(d) {
               var ref = d.getElementsByTagName('script')[0];
               var apiJs, apiJsId = 'rrApi-jssdk';
               if (d.getElementById(apiJsId)) return;
               apiJs = d.createElement('script');
               apiJs.id = apiJsId;
               apiJs.async = true;
               apiJs.src = "//cdn.retailrocket.ru/content/javascript/api.js";
               ref.parentNode.insertBefore(apiJs, ref);
           }(document));
    </script>
    <!-- Rating@Mail.ru counter -->
    <script type="text/javascript">
    var _tmr = _tmr || [];
    _tmr.push({id: "2579461", type: "pageView", start: (new Date()).getTime()});
    (function (d, w) {
       var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true;
       ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
       var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
       if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
    })(document, window);
    </script><noscript><div style="position:absolute;left:-10000px;">
    <img src="//top-fwz1.mail.ru/counter?id=2579461;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
    </div></noscript>
    <!-- //Rating@Mail.ru counter -->
</body>
</html>