<ul id="bottom_menu">
    {% for page in pages %}
        <li><a href="/{{ page.slug }}">{{ page.title }}</a></li>
        {% if forloop.last %}
          <li><a rel="nofollow" href="http://pitfit.reformal.ru" onclick="Reformal.widgetOpen();return false;" onmouseover="Reformal.widgetPreload();">Ваши отзывы и предложения</a></li>
        {% endif %}
    {% endfor %}
</ul>