<div class="catlbl">Бренды</div>
<ul style="margin-left: 3em;font-size: 1.2em;">
    {% for brand in brands %}
        {% comment %}{% if forloop.first %}
            <li><a href="/brand">Все</a></li>
        {% endif %}{% endcomment %}
         <li>
            {% if brand_filter == 'brand' %}
                    {% if category %}
                        {% if brand.slug == current_brand %}
                           <b style="color: #0F5172;">{{ brand.name }}</b>
                        {% else %}
                            <a href="/brand/{{ brand.slug }}/{{ category }}">{{ brand.name }}</a>
                        {% endif %}
                    {% else %}
                        {% if brand.slug == current_brand %}
                            <b style="color: #0F5172;">{{ brand.name }}</b>
                        {% else %}
                            <a href="/brand/{{ brand.slug }}">{{ brand.name }}</a>
                        {% endif %}
                    {% endif %}
            {% else %}
                {% if brand_filter == 'category' %}
                    {% if category %}
                        {% if brand.slug == current_brand %}
                            <b style="color: #0F5172;">{{ brand.name }}</b>
                        {% else %}
                            <a href="/category/{{ brand.slug }}">{{ brand.name }}</a>
                        {% endif %}
                    {% else %}
                        {% if brand.slug == current_brand %}
                            <b style="color: #0F5172;">{{ brand.name }}</b>
                        {% else %}
                            <a href="/brand/{{ brand.slug }}">{{ brand.name }}</a>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <a href="/brand/{{ brand.slug }}"
                            {% if brand.slug == current_brand %}class="selected"{% endif %}>{{ brand.name }}</a>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
</ul>