<div id="breadcrumbs">
    {% if brand != '' %}
       <span style="font: normal 12px Arial;color: #0F5172;">{{ brand.name }}</span> /
    {% endif %}
    {% if category != '' %}
       <span style="font: normal 12px Arial;color: #0F5172;">{{ category.name }}</span> /
    {% endif %}
    </div>