{% load thumbnail %}
<div class="fr" id="minicart">
    <div
         {% if cart.cart_full_qty < 1 %}style="margin-right: 3em;">&nbsp;{% else %}>{% endif %}
    {% for item in cart %}
        {% if item.quantity > 0 %}
            {% if forloop.counter < 8 %}
            {% thumbnail item.product.image "69x69" as im %}
                <img src="{{ im.url }}" style="margin:{{ im|margin:"69x69" }}; float: left;" title="В заказе {{ item.quantity }} шт.">
            {% endthumbnail %}
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>
</div>
