{% if cart.cart_full_qty > 0 %}
    <div id="cart_mini_total" class="box_round fr">
        <div class="full">
            <div style="text-align: left">
                <a href="/cart" class="clink">
                    {% if cart.items|length > 0 %}
                        {{cart.cart_full_qty}}
                        {% if cart.cart_full_qty == 1 %}товар{% endif %}
                        {% if cart.cart_full_qty > 1 and cart.cart_full_qty <= 4 or cart.cart_full_qty > 21 %}товарa{% endif %}
                        {% if cart.cart_full_qty > 4 and cart.cart_full_qty <= 21 %}товаров{% endif %}
                    {% endif %}
                </a>
                <br>
                на {{ cart.cart_full_price }} р.
            </div>

        </div>
        <div style="text-align: center; background-color: #e6e6e6; border-top: 1px solid #cccccc;font-weight: normal;">
            <a href="/cart" style="color: #de5504;padding: 8px 0;display: block;">Оформить заказ</a>
        </div>
    </div>
{% else %}
    <div id="cart_mini_total" class="box_round fr">
        <div class="empty" >
            <div style="margin: 0;padding: 0.8em 0;">Корзина пуста</div>
        </div>
    </div>
{% endif %}