<div class="catlbl">Товары</div>
<ul style="margin-left: 3em;font-size: 1.2em;">
    {% for category in categories %}
        {% comment %}{% if forloop.first %}
            <li><a href="/category">Все</a></li>
        {% endif %}{% endcomment %}
        <li>
            {% if category_filter == 'category' %}
                {% if category.slug == current_category %}
                    <b style="color: #0F5172;">{{ category.name }}</b>
                {% else %}
                    <a href="/category/{{ category.slug }}">{{ category.name }}</a>
                {% endif %}
            {% else %}
                {% if category_filter == 'brand' %}
                    {% if brand %}
                        {% if category.slug == current_category %}
                            <b style="color: #0F5172;">{{ category.name }}</b>
                        {% else %}
                            <a href="/brand/{{ brand }}/{{ category.slug }}">{{ category.name }}</a>
                        {% endif %}
                    {% else %}
                        {% if category.slug == current_category %}
                            <b style="color: #0F5172;">{{ category.name }}</b>
                        {% else %}
                            <a href="/category/{{ category.slug }}">{{ category.name }}</a>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if category.slug == current_category %}
                        <b style="color: #0F5172;">{{ category.name }}</b>
                    {% else %}
                        <a href="/category/{{ category.slug }}">{{ category.name }}</a>
                    {% endif %}
                {% endif %}

            {% endif %}
        </li>
    {% endfor %}
</ul>