<div style="margin: 0.8em 0;" class="fl">
            <script type="text/javascript">
                $(document).ready(function(){
                            $('#brandSelect').change(function() {
                                var category = $('#categorySelect').val();
                                var brand = $('#brandSelect').val();
                                var url = '';
                                if (category != '' && category != 'none') {
                                    url = '/category/'+category+'/'+brand;
                                }
                                else if (brand != '' && brand != 'none'){
                                    url = '/brand/'+brand;
                                }
                                else {
                                    url = '/';
                                }
                                window.location = url;
                            });
                            $('#categorySelect').change(function() {
                                var category = $('#categorySelect').val();
                                var brand = $('#brandSelect').val();
                                var url = '';
                                if (brand != '' && brand !='none') {
                                    url = '/brand/'+brand+'/'+category;
                                }
                                else if(category != '' && category != 'none') {
                                    url = '/category/'+category;
                                }
                                else {
                                    url ='/';
                                }
                                window.location = url;
                            })
                        }
                );
            </script>
{% comment %}            <label for="brandSelect" style="margin-right: 2em;width: 70px !important;">Бренд</label>{% endcomment %}

              <select class="medium" name="brand" id="brandSelect" >
                    <option value="none">Бренд</option>
                {% for brand in brands %}
                    <option value="{{ brand.slug }}" {% if brand.slug == current_brand %}selected{% endif %}>{{ brand.name }}</option>
                {% endfor %}
              </select>
</div>
<div style="margin: 0.8em 1em 0.8em 1em;" class="fr">
            {% comment %}<label for="categorySelect" style="margin-right: 2em;width: 70px !important;">Категория</label>{% endcomment %}
              <select class="medium" name="brand" id="categorySelect">
                    <option value="none">Категория</option>
                {% for category in categories %}
                    <option value="{{ category.slug }}" {% if category.slug == current_category %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
              </select>
</div>