{% if missions %}
    <div id="missions_block" >
        <div id="target_header">
            <div style="font: bold 15px Arial;color: #0f5172;">Ваша цель:</div>
        </div>
        <div id="mission_list" class="box_round">
            <ul class="f12as" style="margin: 0;">
                {% for mission in missions %}
                    <li style="margin: 0.5em 0;">
                        <a href="/mission/{{ mission.slug }}">{{ mission.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}