{% load tags %}
<div class="box_round" style="border: 1px dashed #0f5172;padding: 0.5em 0;margin-bottom: 1em;">
    <div style="text-align: center;">
        <h3 style="font: bold 15px Arial;color: #0f5172;margin-bottom: 0.5em;">Популярное:</h3>
    </div>
    {% for tag in tags %}
    <span class="ptag" style="clear: both;">
        <a style="font-size: 12px;" href="/tag/{{tag.name|urlencode}}/">{{tag.name|truncchar:17 }}</a>
    </span>
    {% endfor %}
    <br style="clear: both;">
</div>