{% load thumbnail tags %}

{% if available %}
<div style="text-align: center;">
    <div style="text-align: left;">
    <span style="font: bold 15px Arial;color: #0f5172;margin-bottom: 0.5em;">Вы уже смотрели:</span>
    </div>
    <ul style="width: 155px;margin: 0;">
    {% for item in already_seen.items %}
        <li style="font: normal 10px Arial;margin-bottom: 0.7em !important;text-align: left;">
            <table style="margin-bottom: 0;">
                <tbody>
                    <tr>
                        <td style="padding: 0;vertical-align: middle;">
                            <a href="/catalog/product/{{ item.product.id }}">
                                {% thumbnail item.product.image "55x55" as im %}
                                    <img alt="{{ item.product.brand.name }} {{ item.product.name }}" title="{{ item.product.brand.name }} {{ item.product.name }}" src="{{ im.url }}" style="margin:{{ im|margin:"55x55" }}; float: left;"/>
                                {% endthumbnail %}
                            </a>
                        </td>
                        <td style="padding: 0;vertical-align: top;">
                            <a style="text-transform:uppercase;display: inline-block;margin-bottom: 0.5em;" href="/catalog/product/{{ item.product.id }}">{{ item.product.name }}</a>
                            <span style="font: normal 11px Arial;clear: both; margin: 0 0 0.2em 0;">
                                <nobr>{% if item.product.taste %}{{ item.product.taste.value|truncchar:15 }}{% else %}Без вкуса{% endif %}</nobr>
                            </span>
                            <span style="margin:0.8em 0 0 3em;text-shadow: #333333 1px;font: bold 12pt Arial;color: #35393b;">{{ item.product.customer_price }},-</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}
