{% extends 'base.html' %}
{% load thumbnail tags cart_tags%}
{% block title %}
Спортивное питание - {{ title|lower }}
{% endblock %}
{% block description %}{{ cat.meta_description }}{% endblock %}
{% block content %}
<div class="grid_9 alpha">
    <h1 class="f24as grey" style="font-weight: bold; margin-top: 1em;">Популярные производители</h1>
    <div style="height: 2px; background-color: #c4c4c4; margin: 0 0 1em 0;">&nbsp;</div>
    {% for brand in brands %}
    <div class="grid_3 {% cycle 'alpha' '' 'omega' %}" style="height: 180px;">
        {% thumbnail brand.image "150x150" as im %}
        <a href="/brand/{{ brand.slug }}"><img class="brand_logo_big" src="{{ im.url }}" alt="{{brand.name}}"
                                               title="{{brand.name}}">
        {% endthumbnail %}
    </div>
    {% endfor %}
    <div class="clearfix">&nbsp;</div>
</div>
<div class="grid_3 omega" style="margin-top:5em;">
    {%block cart_mini_total %}
    {% show_cart_mini_total %}
    <div class="clear">&nbsp;</div>
    {% endblock %}
    {% show_sub_filter %}
    {% show_seen_scope %}
    <br>
    <div id="vk_groups"></div>
</div>
{% endblock %}