{% load thumbnail tags cart_tags cms_tags%}
 <div class="grid_3 product_block{% cycle ' alpha' '' ' omega' %}">
    {% thumbnail product.image "150x150" as im %}
        <a href="/catalog/product/{{ product.id }}"><img alt="Спортивное питание от {{ product.brand.name }} - {{ product.name }}"
                                                         title="Спортивное питание от {{ product.brand.name }} {{ product.name}} - {{ product.customer_price }} руб."
                                                         src="{{ im.url }}" style="margin:{{ im|margin:"150x150" }}"/></a>
    {% endthumbnail %}
    <a href="/catalog/product/{{ product.id }}" class="name">
        {{ product.name }}
    </a>
    <div>
        {% if product.variants %}
            {% for var in product.variants %}
                {% if var.taste %}
                    {% if forloop.first %}
                        <select class="fl taste" name="product_variant" id="productcard{{ product.id }}">
                            <option value="{{ var.id }}" selected>{{ var.taste }}</option>
                    {% else %}
                        <option value="{{ var.id }}">{{ var.taste }}</option>
                    {% endif %}
                    {% if forloop.last %}
                        </select>
                    {% endif %}
                {% else %}
                    <input type="hidden" id="productcard{{ product.id }}" value="{{ var.id }}">
                    <p class="fl taste">{% if var.taste != None %}{{ var.taste }}{% else %}Без вкуса{% endif %}</p>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if product.uom > 0 %}
            <p class="uom fr">{{ product.uom_units }} {{ product.get_uom_display }}</p>
        {% endif %}
    </div>
    <br style="clear: both;">

    {% if product.is_available > 0 %}
        {% if product.base_price > product.customer_price %}
        <div class="special_price">{{ product.customer_price }}<span style="font-size: 8pt;">руб.</span></div>
        <div class="old_price">&nbsp;{{ product.base_price }}&nbsp;</div>
        {% else %}
        <div class="price">{{ product.customer_price }}<span style="font-size: 8pt;">руб.</span></div>
        {% endif %}
        <a class="btn incart fr" onclick="$(this).hide();$('#order_link_for{{ product.id }}').show();Dajaxice.cart.add_to_cart(Dajax.process, {'product_id': $('#productcard{{ product.id }}').val()});return false;">
            В корзину
        </a>
        <a class="btn tocart fr" id="order_link_for{{product.id}}" style="display: none;" href="/cart">Оформить</a>
    {% else %}
        <div class="out_of_stock">Нет в наличии</div>
    {% endif %}
    {% if product.is_recomended %}
        <div title="Рекомендуем" style="position: absolute; top:5px; right: 10px; width: 32px; height: 32px; background: url('/static/i/recoment1.png') 0 0 no-repeat;">&nbsp;</div>
    {% endif %}
</div>