{% extends 'base.html' %}
{% load thumbnail tags%}

{% block breadcrumbs %}<div id="breadcrumbs"><a href="/">Главная</a> / <a href="/brand/optimum-nutrition/">Optimum Nutrition</a></div>{% endblock %}
{% block content %}
    {% for product in products.object_list %}
        <div class="grid_3 product_block">
            {% thumbnail product.image "150x150" as im %}
                <a href="/catalog/product/{{ product.id }}"><img src="{{ im.url }}" style="margin:{{ im|margin:"150x150" }}"/></a>
            {% endthumbnail %}
            <a href="/catalog/product/{{ product.id }}" class="name">
                {{ product.name }}
            </a>
            <div>
                {% if product.taste %}
                    <p class="fl taste">{{ product.taste }}</p>
                {% endif %}
                {% if product.uom > 0 %}
                    <p class="uom fr">{{ product.uom_units }} {{ product.get_uom_display }}</p>
                {% endif %}
            </div>
            <br style="clear: both;">

            {% if product.qty_avail > 0 %}
                <div class="price">{{ product.customer_price }},-</div>
                <a class="btn incart fr" onclick="Dajaxice.cart.add_to_cart(Dajax.process, {'product_id':{{ product.id }}});return false;">
                    В корзину
                </a>
            {% else %}
                <div class="out_of_stock">Нет в наличии</div>
            {% endif %}
        </div>
    {% endfor %}
    {% if products.paginator.num_pages > 1 %}
    <div class="grid_13">
        <div class="pagination">
            <ul>
                {% if products.has_previous %}
                    <li class="prev"><a href="?page={{ products.previous_page_number }}">&larr; Сюда</a></li>
                {% endif %}
                {% for page_number in products.paginator.page_range %}
                    <li {% if page_number == products.number %} class="active"{% endif %}><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                {% endfor %}
                {% if products.has_next %}
                    <li class="next"><a href="?page={{ products.next_page_number }}">Туда &rarr;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock %}