{% extends 'base.html' %}
{% load thumbnail tags cart_tags%}
{% block title %}
    {% if cat.meta_title %}
        {{ cat.meta_title }}
    {% else %}
        Спортивное питание - {{ title|lower }}
    {% endif %}
{% endblock %}
{% block description %}
    {% if cat.meta_description %}
        {{ cat.meta_description }}
    {% else %}
        {% if filter == 'brand' and brnd != None  %}
            {{ brnd.meta_description }}
        {% endif %}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="grid_9 alpha">
        {% block breadcrumbs %}{% show_breadcrumbs %}{% endblock %}
        {% if brand == '' and cat != None and cat.description|length > 50 %}
            <h1 class="f21as" style="margin-bottom: 1em;">{{ cat.name }}</h1>
        {% else %}
            {% if filter == 'brand' and brnd != None  %}
                <h1 class="f21as" style="margin-bottom: 1em;">{{ brnd.name }}</h1>
            {% endif %}
        {% endif %}
    {% for product in products.object_list %}
        <div class="grid_3 product_block {% cycle 'alpha' '' 'omega' %}">
            {% thumbnail product.image "150x150" as im %}
                <a href="/catalog/product/{{ product.id }}"><img src="{{ im.url }}" style="margin:{{ im|margin:"150x150" }}"/></a>
            {% endthumbnail %}
            <a href="/catalog/product/{{ product.id }}" class="name">
                {{ product.name }}
            </a>
        <br style="clear: both;">
            {% if product.variants %}
                {% for var in product.variants %}
                    {% if var.taste %}
                        {% if forloop.first %}
                            <select class="fl taste" name="product_variant" id="productcard{{ product.id }}">
                                <option value="{{ var.id }}" selected>{{ var.taste }}</option>
                        {% else %}
                            <option value="{{ var.id }}">{{ var.taste }}</option>
                        {% endif %}
                        {% if forloop.last %}
                            </select>
                        {% endif %}
                    {% else %}
                        <input type="hidden" id="productcard{{ product.id }}" value="{{ var.id }}">
                        <p class="fl taste">{% if var.taste != None %}{{ var.taste }}{% else %}Без вкуса{% endif %}</p>
                    {% endif %}
                {% endfor %}
                {% if product.uom > 0 %}
                    <p class="uom fr">{{ product.uom_units }} {{ product.get_uom_display }}</p>
                {% endif %}
            {% endif %}
            <br style="clear: both;">

            {% if product.is_available > 0 %}
                {% if product.base_price > product.customer_price %}
                <div class="special_price">{{ product.customer_price }}<span style="font-size: 8pt;">руб.</span></div>
                <div class="old_price">&nbsp;{{ product.base_price }}&nbsp;</div>
                {% else %}
                <div class="price">{{ product.customer_price }}<span style="font-size: 8pt;">руб.</span></div>
                {% endif %}
                <a class="btn incart fr"
                   onclick="Dajaxice.cart.add_to_cart(Dajax.process, {'product_id':$('#productcard{{ product.id }}').val()});$(this).hide();$('#order_link_for{{ product.id }}').show();try { rrApi.addToBasket({{ product.id }}) } catch(e) {}return false;">
                    В корзину
                </a>
                <a class="btn tocart fr" id="order_link_for{{product.id}}" style="display: none;" href="/cart">Оформить</a>
            {% else %}
                <div class="out_of_stock">Нет в наличии</div>
            {% endif %}
            {% if product.is_recomended %}
                <div title="Рекомендуем"  style="position: absolute; top:5px; right: 10px; width: 32px; height: 32px; background: url('/static/i/recoment1.png') 0 0 no-repeat;">&nbsp;</div>
            {% endif %}
        </div>
    {% endfor %}
    &nbsp;
     {% if products.paginator.num_pages == 1 or not products.has_previous  %}
            <div class="grid_9">
                {% if filter == 'brand' and brnd != None %}
                    <div class="f12as" style="margin-bottom: 1em;">
                        <div class="category_announce">{{ brnd.descripiton|safe }}</div>
                    </div>
                {% else %}
                    <div class="f12as" style="margin-bottom: 1em;">
                        <div class="category_announce">{{ cat.description|safe }}</div>
                    </div>
                {% endif %}
            </div>
    {% endif %}
    </div>
    <div class="grid_3 omega" style="margin-top:{% if not products.has_previous %} 5em;{% else %} 3.5em;{% endif %}">
        {% show_sub_filter %}
        {% show_seen_scope %}
        <br>
        <div id="vk_groups"></div>
    </div>
    {% if products.paginator.num_pages > 1 %}
    <div class="grid_12">
        <div class="nav">
                {% if products.has_previous %}
                    <a href="?page={{ products.previous_page_number }}{% if brnd %}&brand={{ brnd }}{% endif %}">«</a>
                {% endif %}
                {% for page_number in products.paginator.page_range %}
                    {% if page_number == products.number %}
                        <span class="current">{{ page_number }}</span>
                    {% else %}
                        <a href="?page={{ page_number }}{% if brnd %}&brand={{ brnd }}{% endif %}">{{ page_number }}</a>
                    {% endif %}
                {% endfor %}
                {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}{% if brnd %}&brand={{ brnd }}{% endif %}">»</a>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}

    <script type="text/javascript">
    function rrAsyncInit() {
		try { rrApi.categoryView({{ cat.id }}); } catch(e) {}
	}
</script>
{% endblock %}