<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table>
{% for item in products %}
<tr>
    <td>{{ item.name }}</td>
    <td>{{ item.brand.name }}</td>
    <td>{{ item.category.name }}</td>
    <td>{{ item.taste }}</td>
    <td>{{ item.uom }}</td>
    <td>{{ item.uom_units }}</td>
    <td>{{ item.qty_avail }}</td>
    <td>http://pitfit.ru/catalog/product/{{ item.showcase.id }}</td>
</tr>
{% endfor %}
</table>
</body>
</html>