{% extends 'base.html' %}
{% load thumbnail tags cart_tags cms_tags%}

{% block content %}
    <div class="grid_9 alpha">
        <h1 class="page_title">Магазин спортивного питания</h1>
        <p><b>Спортивное питание</b> – залог качественных тренировок и создания идеального тела!</p>
        <p>Наверняка любой спортсмен стремится получать максимум эффективности от каждого занятия.
            Но, к сожалению, на сегодняшний день без качественного подходящего питания и оптимального рациона достичь этого весьма тяжело,
            а иногда вообще невозможно. Для решения данной задачи работает наш магазин.
            Мы предлагаем своим посетителям качественное спортивное питание,
            которое поможет Вам в минимальные сроки создать действительно идеальное тело!</p>

        {% for group in groups %}
        {% if forloop.first %}
        <div class="grey" style="font-size: 22px;line-height: 1; margin-bottom:0.5em;">Специальные комплексы:</div>
        <ul>
            {% endif %}
            <li><a href="/category/{{ group.slug }}">{{ group.name }}</a> </li>
            {% if forloop.last %}
        </ul>
        {% endif %}
        {% endfor %}
        <p>А также мы с радостью представляем Вашему вниманию качественную продукцию от ведущих мировых изготовителей спортивного питания. Среди брендов, с которыми мы работаем,
            присутствуют такие всемирно известные имена, как: Dymatize Nutrition, Isostar, Gaspari Nutrition, MHP, Optimum Nutrition, Muscle Pharm Universal Nutrtion,
            USPlabs, Ultimate Nutrition и многие другие.</p>
        <!--<div style="width: 520px;height: 260px;background: url('/static/i/promo1.jpg') no-repeat 2px 1px; margin: 1em 0;">
            &nbsp;
        </div>-->
    {% for product in recomended %}
        {% if forloop.first %}
            <div class="grey" style="font-size: 22px;line-height: 1; margin-bottom:0.5em;">Рекомендуем:</div>
        {% endif %}
        {% include 'catalog/category_main.html' %}
    {% endfor %}
    {% for product in bestsellers %}
        {% if forloop.first %}
            <div class="grey" style="font-size: 22px;line-height: 1; margin-bottom:0.5em;">Популярные товары:</div>
        {% endif %}
        {% include 'catalog/category_main.html' %}
    {% endfor %}
    {% for article in articles %}
        {% if forloop.first %}
            <div class="grid_9 alpha omega">
            <div style="margin-bottom:1em;"><a class="grey" style="font-size: 22px;text-decoration: none;" href="/article/">Интересные статьи</a></div>
        {% endif %}
            <dl>
                <dt style="margin-bottom: 0.8em;"><a style="font-size: 15px;" href="/article/{{article.id}}">{{article.title}}</a></dt>
                <dd style="margin-bottom: 0.5em;">{{article.content|striptags|truncatewords:30}}</dd>
        {% if forloop.last %}
            </div>
        {% endif %}
    {% endfor %}
    <!--{% show_news %}-->
    <div class="grid_9 alpha omega">
    <div class="grey" style="font-size: 22px;line-height: 1; margin-bottom:0.5em;">Виды</div>

        <p>Так что же такое <strong>спорт питание</strong> (спортивное питание)? Как и многие другие группы товаров она содержит целый перечень категорий, например:
            <dl>
                <dt style="margin-bottom: 0.8em;"><h3><a style="font-size: 15px;" href="/category/gainers">Гейнер</a></h3></dt>
                <dd style="margin-bottom: 0.5em;"><b>Гейнером</b> принято называть уникальный белково-углеводный коктейль, который обязательно должен обладать достаточно высокой калорийностью.
                    Стоит добавить, что главное его отличие от протеина заключается в размере порции и числе питательных элементов. Можно с полной уверенностью сказать,
                    что <strong>Гейнер</strong> отлично подходит и новичкам, и опытным атлетам, задачей которых выступает активный набор массы и значительное повышения силы. </dd>
    {% for product in gainers %}
        {% include 'catalog/category_main.html' %}
    {% endfor %}
                <dt style="margin-bottom: 0.8em;"><h3><a style="font-size: 15px;" href="/category/protein">Протеины</a></h3></dt>
                <dd style="margin-bottom: 0.5em;"><strong>Протеин</strong> в переводе означает белок - основной материал для того, чтобы накачать мышцы. Белки подразделяются на несколько категорий
                    : комплексный <b>протеин</b>, быстрый и медленный <b>протеин</b>. Этот вид спортивного питания подходит для достижения разнообразных целей,
                    как для набора чистой мышечной массы, так и при похудении и "сушке".</dd>
    {% for product in proteins %}
       {% include 'catalog/category_main.html' %}
    {% endfor %}
                <dt style="margin-bottom: 0.8em;"><h3><a style="font-size: 15px;" href="/category/amino">Аминокислоты</a></h3></dt>
                <dd style="margin-bottom: 0.5em;"><strong>Аминокислоты</strong> - это так называемые строительные блоки для всего нашего организма, ведь все белки состоят из <b>аминокислот</b>. Это
                    <strong>спортивное питание</strong> - одна из основных добавок спортсмена. Они способствуют не только росту, но и
                    восстановлению мышц атлета после тренировок.</dd>
    {% for product in amino %}
        {% include 'catalog/category_main.html' %}
    {% endfor %}
                <dt style="margin-bottom: 0.8em;"><h3><a style="font-size: 15px;" href="/category/creatine">Креатин</a></h3></dt>
                <dd style="margin-bottom: 0.5em;"><strong>Креатин</strong> предназначен для увеличения силы и выносливости. Именно эта добавка участвует в энергетическом обмене внутри мышечных и нервных клетках.</dd>
    {% for product in creatines %}
        {% include 'catalog/category_main.html' %}
    {% endfor %}
            </dl>
        </p>


        <p style="font-size: 22px;line-height: 1; margin-bottom:0.5em;">Наши преимущества</p>

        <p>В первую очередь стоит сказать, что мы гарантируем на 100% высокое качество, которым обладает всё предлагаемое нами спортивное питание. Кроме этого среди конкурентов наш магазин выгодно выделяют:</p>
        <p>
            <ul>
                <li>- Лояльные цены</li>
                <li>- Помощь квалифицированных консультантов в процессе выбора наиболее подходящего спортивного питания</li>
                <li>- Понятный интерфейс, который значительно упрощает процесс оформления заказа</li>
                <li>- Оперативная доставка товаров практически в любую точку нашей страны</li>
            </ul>
        </p>

        <p style="font-size: 22px;line-height: 1; margin-bottom:0.5em;">Еще раз о главном</p>

        <p>Великолепный пресс, завидная трапеция, роскошные бицепсы – всё это становится реальностью благодаря Вашим усилиям и купленному в
            нашем магазине спортивному питанию. Это идеальное сочетание, которое поможет Вам быстро и качественно прийти к поставленной перед Вами цели.</p>

        <h2>Спорт питание</h2>
        <p>Все предлагаемые нами товары изготовляются с использованием натуральных материалов и инновационных технологий под строгим наблюдением лучших ученых и диетологов.
            Это позволяет с полной уверенностью гарантировать максимальный эффект от каждой тренировки. Теперь Вы сможете не бояться даже самых серьезных нагрузок.
            Приготовьтесь удивить себя и всех окружающих. Создавайте своё идеальное тело и достигайте впечатляющих результатов вместе с нами!</p>
        <div style="text-align: center;"><p>pitfit.ru - лучшее спортивное питание для Вас!</p></div>

    </div>
    </div>
    <div class="grid_3 omega" style="margin-top: 1em;">

        {% show_missions %}
        {% show_seen_scope %}
        <br>
        <div id="vk_groups"></div>
    </div>
{% endblock %}