{% extends 'base.html' %}
{% load thumbnail tags cart_tags%}

{% block title %}{{ mission.meta_title }}{% endblock %}
{% block description %}{{ mission.meta_title }}{% endblock %}
{% block breadcrumbs %}{% show_breadcrumbs %}{% endblock %}
{% block content %}
    <div class="grid_9 alpha">
        {% for complex in complexes %}
            <div class="grid_9 alpha omega complex_header">
                <div class="grid_3 f18as alpha"
                     style="line-height: 29px; vertical-align: middle;">
                    &nbsp;
                </div>
                <div class="grid_5 prefix_1 omega" >
                    <div class="fl f18as"
                         style="margin:0 1em;line-height: 29px; vertical-align: middle;">Цена комплекса:</div>
                    <div class="price" style="line-height: 29px; vertical-align: middle;">{{ complex.complex_price }},-</div>
                </div>
            </div>

            {% for product in complex.product.all %}
                <div class="grid_3 product_block {% cycle 'alpha' '' 'omega' %}">
                    {% thumbnail product.image "150x150" as im %}
                        <a href="/catalog/product/{{ product.id }}"><img src="{{ im.url }}" style="margin:{{ im|margin:"150x150" }}"/></a>
                    {% endthumbnail %}
                    <a href="/catalog/product/{{ product.id }}" class="name">
                        {{ product.name }}
                    </a>
                    <div>
                        {% if product.taste %}
                            <p class="fl taste">{{ product.taste }}</p>
                        {% endif %}
                        {% if product.uom > 0 %}
                            <p class="uom fr">{{ product.uom_units }} {{ product.get_uom_display }}</p>
                        {% endif %}
                    </div>
                    <br style="clear: both;">

                    {% if product.qty_avail > 0 %}
                        <div class="price">{{ product.base_price }},-</div>
                        <a class="btn incart fr" onclick="Dajaxice.cart.add_to_cart(Dajax.process, {'product_id':{{ product.id }}});return false;">
                            В корзину
                        </a>
                    {% else %}
                        <div class="out_of_stock">Нет в наличии</div>
                    {% endif %}
                </div>
                {% if forloop.last %}
                    <br class="clear">
                {% endif %}
            {% endfor %}
        {% endfor %}
        &nbsp;
    </div>
    <div class="grid_3 omega">
        {%block cart_mini_total %}
            {% show_cart_mini_total %}
            <div class="clear">&nbsp;</div>
        {% endblock %}
        {% show_missions %}
        {% show_seen_scope %}
        <br>
        <div id="vk_groups"></div>
    </div>
{% endblock %}