<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE yml_catalog SYSTEM "shops.dtd">
<yml_catalog date="2010-04-01 17:00">
    <shop>
        <name>Магазин спортивного питания</name>
        <company>PitFit</company>
        <url>http:/pitfit.ru/</url>

        <currencies>
            <currency id="RUR" rate="1" plus="0"/>
        </currencies>
        <categories>
            {% for category in categories %}
                <category id="{{ category.id }}">{{ category.name }}</category>
            {% endfor %}
        </categories>
        <local_delivery_cost>150</local_delivery_cost>
        <offers>
            {% for product in products %}
                <offer id="{{ product.id }}" type="vendor.model" available="true">
                    <url>http://pitfit.ru/catalog/product/{{ product.id }}</url>
                    <price>{{ product.customer_price }}</price>
                    <currencyId>RUR</currencyId>
                    <categoryId>{{ product.uniq_category.id }}</categoryId>
                    <delivery>true</delivery>
                    <typePrefix>{{ product.uniq_category }}</typePrefix>
                    <vendor>{{ product.brand }}</vendor>
                    <model>{{ product.name }}{% if product.taste %} {{ product.taste }}{% endif %}
                    {% if product.uom > 0 %} {{ product.uom_units }} {{ product.get_uom_display }}{% endif %}
                    </model>
                </offer>
            {% endfor %}
        </offers>
    </shop>
</yml_catalog>