{% load tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Прайс-лист</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        @page {
            size: {{ pagesize }};
            margin: 1cm;
            @frame footer {
                        -pdf-frame-content: footerContent;
                        bottom: 0cm;
                        margin-left: 9cm;
                        margin-right: 9cm;
                        height: 1cm;
                    }

            }
        @font-face { font-family: Arial; src: url(/webapps/pitfit/shop/static/i/arial.ttf); }
        body{font-family: Arial;font-size: 10px;}
        td {border: 1px #8b8b8b solid;}
        thead td {padding: 0.05cm;
                  font-weight: bold;
                  font-size: 12px;
                  text-align: center;
                  background-color: #cccccc;
        }
    </style>
</head>
<body>
<div>
    <table>
        <tr>
            <td style="border: 0;width: 150px; height: 150px;">
                <img width="140px" height="147px" src="/webapps/pitfit/shop/static/i/logo.jpg"/>
            </td>
            <td style="border: 0;">
                <h1 style="font-size: 18px;margin-bottom: 0.1cm;">Интернет-магазин спортивного питания www.PitFit.ru</h1>
                <p style="font-size: 12px; margin-left: 1cm;">тел.:   8(916)124-82-34<br>
                e-mail: mail@pitfit.ru</p>
            </td>
        </tr>
        <tr><td colspan="2" style="border:0;text-align: center;"><h1 style="font-size: 16px;">Прайс-лист от {% now "d.m.Y" %}</h1></td></tr>
    </table>
</div>
<div>
    <table>
    <tbody>
    {% regroup products by brand as product_list %}
    {% for product in product_list %}
        <tr><td colspan="5" style="font-size: 16px; font-weight: bold; padding: 0.1cm 0.3cm;background-color: #dbdbdb;">{{ product.grouper }}</td></tr>
        {% for item in product.list %}
        <tr>
            <td style="width: 35%;padding: 0.05cm; ">{{ item.name }}</td>
            <td style="width: 25%;padding: 0.05cm; ">{{ item.uniq_category }}</td>
            <td style="width: 20%;padding: 0.05cm; ">{% if item.taste %}{{ item.taste }}{% else %}Б/В{% endif %}</td>
            <td style="width: 10%;padding: 0.05cm; ">{{ item.uom_units }} {{ item.uom_display }}</td>
            <td style="width: 10%;padding: 0.05cm; ">{{ item.base_price|update:discount }}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
    </table>
</div>
<div id="footerContent">
    {%block page_foot%}
        Страница <pdf:pagenumber>
    {%endblock%}
</div>
</body>
</html>
