<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
=ЕСЛИ(
{% for item in products %}
{% if forloop.first %}
ЕСЛИ(ЕОШИБКА(ПОИСК("catalog/product/{{ item.id }}";xxx));0;1)
{% else %}
+ЕСЛИ(ЕОШИБКА(ПОИСК("catalog/product/{{ item.id }}";xxx));0;1)
{% endif %}
{% endfor %}
=1;"Остановлено";"Активно")
</body>
</html>