{% extends 'base.html' %}
{% load thumbnail  tagging_tags tags cart_tags dajaxice_templatetags%}
{% block title %}
    {% if product.uniq_category.title_for_product %}
        {{ product.uniq_category.title_for_product }}
    {% else %}
        {% if product.uniq_category.meta_title  %}
            {{ product.uniq_category.meta_title }}
        {% endif %}
    {% endif %}
{{ product.brand }} {{ product.name }} {{ product.uom_units }} {{ product.get_uom_display }}
    {% if product.customer_price > 0 %}- {{ product.customer_price }} руб.{% endif %}
{% endblock %}
{% block description %}Купить {{ product.brand }} {{ product.name }} {{ product.uom_units }} {{ product.get_uom_display }}.
    Описание товара и способов его применения.
{% endblock %}
{% block breadcrumbs %}{% show_breadcrumbs %}{% endblock %}
{% block content %}
    <script type="text/javascript">
        $(function () {
            var tabContainers = $('div.product_tab');
            tabContainers.hide().filter(':first').show();

            $('ul.tabs > li').click(function () {
                tabContainers.hide();
                tabContainers.filter($('a',this).attr('href')).show();
                $('ul.tabs > li').removeClass('active');
                $(this).addClass('active');
                return false;
            }).filter(':first').click();
        });
        $(function(){
           $('.b-rating span.b-rating__star').each(function(mainIndex){
                       $(this).mouseover(function(){
                           $('.b-rating span.b-rating__star').each(function(index){
                               if(index <= mainIndex){
                                   $(this).addClass("b-rating__star-my-hover")
                               }
                           });

                       });
                       $(this).mouseout(function(){
                           $('.b-rating span.b-rating__star').each(function(index){
                               var rating = parseInt($('#rating-select_0 :selected').val());
                               var current = index + 1;
                               if(rating < current){
                                    $(this).removeClass("b-rating__star-my-hover")
                               }
                           });

                       });
                       $(this).click(function(){
                           var value = mainIndex +1;
                           $("#rating-select_0 option").each(function(){
                               $(this).removeAttr("selected");
                           });
                           $("#rating-select_0 [value='"+value+"']").attr("selected", "selected");
                       });
                   }
           )
        });
    </script>
    <div id="breadcrumbs">
        <a href="/category/{{ product.uniq_category.slug }}">{{ product.uniq_category.name }}</a>
        / <a href="/brand/{{ product.brand.slug }}">{{ product.brand.name }}</a> /
        <span style="font: normal 12px Arial;color: #0F5172;">{{ product.name}}</span>
    </div>
    <h1 class="f24as grey" style="font-weight: bold; margin-top: 1em; margin-bottom: 0;">{{ product.name }}</h1>
    <div style="height: 2px; background-color: #c4c4c4; margin: 0 0 0.3em 0;">&nbsp;</div>
    <h3>{{ product.brand }}</h3>
    <div class="grid_12 alpha omega">
        <div class="grid_6 product_main_block alpha" style="margin: 0.5em 0 1em 0;text-align: center;">
            {% thumbnail product.image "250x250" as im %}
                <img src="{{ im.url }}" alt="{{ product.brand }} {{ product.name }} {{ product.uom_units }} {{ product.get_uom_display }}" style="margin:{{ im|margin:"250x250" }}">
            {% endthumbnail %}
        </div>
        <div class="grid_6 omega" style="margin: 0.5em 0 1em 0;">
            <div>
               <!-- <div class="fl" style="background: url('/static/i/taste.png') 0 0 no-repeat;height: 24px; padding: 2px 0 0 30px; font-size: 14px;">
                    {% if product.taste != None %}{{ product.taste }}{% else %}Без вкуса{% endif %}
                </div>-->
                {% if product.variants %}
                    {% for var in product.variants %}
                        {% if var.taste %}
                            {% if forloop.first %}
                                <select class="fl taste" name="product_variant" id="productcard{{ product.id }}">
                                    <option value="{{ var.id }}" selected>{{ var.taste }}</option>
                            {% else %}
                                <option value="{{ var.id }}">{{ var.taste }}</option>
                            {% endif %}
                            {% if forloop.last %}
                                </select>
                            {% endif %}
                        {% else %}
                            <input type="hidden" id="productcard{{ product.id }}" value="{{ var.id }}">
                            <p class="fl taste">{% if var.taste != None %}{{ var.taste }}{% else %}Без вкуса{% endif %}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if product.uom > 0 %}
                    <div class="fr" style="margin-right: 2em;background: url('/static/i/uom.png') 0 0 no-repeat;height: 24px; padding: 2px 0 0 30px; font-size: 14px;">
                        {{ product.uom_units }} {{ product.get_uom_display }}
                    </div>
                {% endif %}
            </div>
            <br class="clear">
            <div style="margin-top: 1em;">
                {% if product.is_available %}
                    <div class="product_price orange fl box_round" style="background: #f7cf9b; height: 53px; width: 160px;text-align: center;">
                        <div style="margin-top: 1em;">
                            <span style="font-size:30px;font-weight: bold;">{{ product.customer_price }}</span>
                            <span class="f18as">руб.</span>
                        </div>
                    </div>
                    {% if product.is_available %}
                        <a class="product_cart_btn"
                           href="javascript:void(0);"
                           onclick="Dajaxice.cart.add_to_cart(Dajax.process, {'product_id':$('#productcard{{ product.id }}').val()});try { rrApi.addToBasket({{ product.id }}) } catch(e) {} return false;">В корзину</a>

                    {% endif %}
                {% else %}
                    <div>Нет в наличии</div>
                {% endif %}
            </div>
            <br class="clear">
            <div style="margin-top: 1.2em;">
                <div>Бесплатная доставка от 6000 руб.</div>

                <div>Получайте скидки от 5%</div>
            </div>
            {% tags_for_object product as tag_list %}
            {% if tag_list|length > 0 %}
                <div>
                {% for tag in  tag_list %}
                    <span class="ptag"><a href="{% url tag tag|urlencode %}">{{ tag }}</a></span>
                {% endfor %}
                 </div>
            {% endif %}
        </div>
    </div>
    <div class="clear">&nbsp;</div>
    <div class="grid_12 alpha omega" id="product_tabs">
        <div class="grid_9 alpha f12as grey">
            <ul class="tabs">
                <li class="active">
                    <div class="tag tag-left">
                        <div class="left"></div>
                        <div class="center"><a href="#product_description">Описание</a></div>
                        <div class="right"></div>
                    </div>
                </li>
                <li>
                    <div class="tag tag-left">
                        <div class="left"></div>
                        <div class="center"><a href="#product_consist">Состав</a></div>
                        <div class="right"></div>
                    </div></li>
                <li>
                    <div class="tag tag-left">
                        <div class="left"></div>
                        <div class="center"><a href="#product_take_recomend">Способ применения</a></div>
                        <div class="right"></div>
                    </div>
                </li>
            </ul>
            <br class="clear">
            <div class="product_tab" id="product_description">
                {% if product.is_active %}{{ product.description|safe }}

                <div class="clear">&nbsp;</div>
                <div><span style="font: normal 16px Arial, serif;">Отзывы</span>
                    {% if appreciations %}<span class="fr"><a class="jlink" onclick="$('#rating_form_wrapper').show();">Оставить отзыв</a></span> </div>
                    {% for comment in appreciations %}
                        <div class="grid_9 alpha omega f12as" style="height: 70px;">
                            <div class="fl" style="border: 1px solid #dcdcdc; padding: 5px;margin: 5px;width: 50px;height: 50px;">
                                <img src="/static/i/user.png" style="margin: 0; padding: 0;" width="50px" height="50px">
                            </div>
                            <div>
                                <p style="font-size: 14px;font-weight: bold;margin: 0.4em 0 0 0;">{{comment.author_name}}
                                    <span class="b-rating-non-active b-rating_type_15 b-rating_type_model">
                                        <span class="b-rating__star{% if comment.rating > 0 %} b-rating__star-other {%endif%}" title="рейтинг продукта">
                                            <img class="b-rating__icon" src="/static/i/transparent16.png" alt="*"></span>
                                        <span class="b-rating__star{% if comment.rating > 1 %} b-rating__star-other {%endif%}" title="рейтинг продукта">
                                            <img class="b-rating__icon" src="/static/i/transparent16.png" alt="*"></span>
                                        <span class="b-rating__star{% if comment.rating > 2 %} b-rating__star-other {%endif%}" title="рейтинг продукта">
                                            <img class="b-rating__icon" src="/static/i/transparent16.png" alt="*"></span>
                                        <span class="b-rating__star{% if comment.rating > 3 %} b-rating__star-other {%endif%}" title="рейтинг продукта">
                                            <img class="b-rating__icon" src="/static/i/transparent16.png" alt="*"></span>
                                        <span class="b-rating__star{% if comment.rating > 4 %} b-rating__star-other {%endif%}" title="рейтинг продукта">
                                            <img class="b-rating__icon" src="/static/i/transparent16.png" alt="*"></span>
                                    </span>
                                </p>
                                <p style="margin-left: 1em;">{{comment.comment}}</p>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                    </div>
                    <div class="grid_9 alpha omega f12as" style="height: 70px;">
                        {% if request.user.is_authenticated %}
                        <div id="no_comments" style="text-align: center;margin-top: 20px;">Пока нет ни одного отзыва. <a class="jlink" onclick="$('#rating_form_wrapper').show();">Будте первым!</a></div>
                        {% else %}
                        <div id="no_comments" style="text-align: center;margin-top: 20px;">Пока нет ни одного отзыва. <a class="jlink" onclick="$('#rating_form_wrapper').show();">Будте первым!</a></div>
                        {% endif %}
                    </div>
                    {% endif %}
                    <div class="grid_9 alpha omega">
                        <div id="thanks_for_comment" style="text-align:center; display:none;">
                            <p style="font-size:18px;margin:0;">Спасибо за отзыв!</p>
                            <p>Совсем скоро он будет опубликован.</p>
                        </div>
                        <div style="display: none; margin-top: 2em;" id="rating_form_wrapper">
                        <form action="" method="post" id="comment_form" accept-charset="utf-8">
                            {% csrf_token %}
                            <table>
                                <tr>
                                    <td style="vertical-align: top;">Ваше Имя <span class="required">*</span></td>
                                    <td><input class="input" id="id_author_name" name="author_name" type="text"
                                               value="{% if request.user.first_name|length > 0 %}{{ request.user.first_name }}{% else %}{{ request.user.username }}{% endif %}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Ваша оценка</td>
                                    <td id="id_rating"><span class="b-rating b-rating_type_30 b-rating_type_model">
                                                <span class="b-rating__star" title="моя оценка продукта" style="cursor: pointer;">
                                                    <img class="b-rating__icon" src="/static/i/transparent16.png" alt="*"></span>
                                                <span class="b-rating__star" title="моя оценка продукта" style="cursor: pointer;">
                                                    <img class="b-rating__icon" src="/static/i/transparent16.png" alt="*"></span>
                                                <span class="b-rating__star" title="моя оценка продукта" style="cursor: pointer;">
                                                    <img class="b-rating__icon" src="/static/i/transparent16.png" alt="*"></span>
                                                <span class="b-rating__star" title="моя оценка продукта" style="cursor: pointer;">
                                                    <img class="b-rating__icon" src="/static/i/transparent16.png" alt="*"></span>
                                                <span class="b-rating__star" title="моя оценка продукта" style="cursor: pointer;">
                                                    <img class="b-rating__icon" src="/static/i/transparent16.png" alt="*"></span>
                                            </span>
                                        <select name="rating" id="rating-select_0" size="1" class="hidden" tabindex="10" style="display: none;">
                                            <option value="0">Выберите</option>
                                            <option value="1">ужасный</option>
                                            <option value="2">плохой</option>
                                            <option value="3">средний</option>
                                            <option value="4">хороший</option>
                                            <option value="5">отличный</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Комментарий <span class="required">*</span></td>
                                    <td><textarea name="comment" id="id_comment" rows="5" cols="34"></textarea></td>
                                </tr>
                            </table>
                            <input type="hidden" name="product_id" value="{{ product.id }}"/>
                            <p><input type="button" value="Сохранить отзыв" onclick="Dajaxice.catalog.send_form(Dajax.process,{'form':$('#comment_form').serialize(true)});"></p>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="product_tab" id="product_consist" style="display: none;">
                {% if product.is_active %}{{ product.consist|safe }}{% endif %}
            </div>
            <div class="product_tab" id="product_take_recomend" style="display: none;">
                {% if product.is_active %}{{ product.take_recommend|safe }}{% endif %}
            </div>
        </div>
        <div class="grid_3 omega">
            {% show_cart_mini_total %}
            {% show_seen_scope %}
        </div>
    </div>
    <script type="text/javascript">
	function rrAsyncInit() {
		try{ rrApi.view({{ product.id }}); } catch(e) {}
	}
    </script>
    {% if product.related_products.all|length > 0 %}
        {% for rproduct in product.related_products.all %}
            {% if rproduct.qty_avail > 0 %}
            {% if forloop.first %}
            <h3 style="font: normal 16px Arial, serif;">Так же рекомендуем</h3>
            {% endif %}
            <div class="grid_2 product_mini_block{% cycle ' alpha' '' '' '' '' ' omega' %}">
                {% thumbnail rproduct.image "100x100" as im %}
                    <a style="" href="/catalog/product/{{ rproduct.id }}"><img src="{{ im.url }}" style="margin:{{ im|margin:"100x100" }}"/></a>
                {% endthumbnail %}
                <a href="/catalog/product/{{ rproduct.id }}" class="name">
                    {{ rproduct.name|truncchar:15 }}
                </a>
                <br style="clear: both;">
                <div class="price">{{ rproduct.customer_price }},-</div>
                <a class="f12as jlink" onclick="Dajaxice.cart.add_to_cart(Dajax.process, {'product_id':{{ rproduct.id }}});return false;">
                    В корзину
                </a>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}