{% if categories %}
    <div style="text-align: left;">
    <h3 style="font: bold 15px Arial;color: #0f5172;margin-bottom: 0.5em;">Категории бренда:</h3>
    </div>
    <ul class="f12as">
    {% for category in categories %}
        {% if filtered_brand %}
            <li style="margin: 0.5em 0;">
                <a class="jlink" href="/brand/{{ brand }}/?cat={{ category.slug }}">{{ category.name }}</a> <span class="f10as grey">{{ category.qty }}</span>
            </li>
        {% else %}
            <li style="margin: 0.5em 0;">
                <a class="jlink" href="/category/{{ category.slug }}/?brand={{ brand }}">{{ category.name }}</a> <span class="f10as grey">{{ category.qty }}</span>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}
{% if brands %}
    <div style="text-align: left;">
    <h3 style="font: bold 15px Arial;color: #0f5172;margin-bottom: 0.5em;">Бренды категории:</h3>
    </div>
    <ul class="f12as">
    {% for brand in brands%}
        {% if filtered_category %}
            <li style="margin: 0.5em 0;">
                <a class="jlink" href="/category/{{ category }}/?brand={{ brand.slug }}">{{ brand.name }}</a> <span class="f10as grey">{{ brand.qty }}</span>
            </li>
        {% else %}
            <li style="margin: 0.5em 0;">
                <a class="jlink" href="/brand/{{ brand.slug }}/?cat={{ category }}">{{ brand.name }}</a> <span class="f10as grey">{{ brand.qty }}</span>
            </li>
        {% endif %}

    {% endfor %}
    </ul>
{% endif %}