{% extends 'base.html' %}
{% load thumbnail tags%}
{% block title %}{{ title }}{% endblock %}
{% block breadcrumbs %}{% show_breadcrumbs %}{% endblock %}
{% block content %}
    <div class="grid_9 alpha">
        {% for product in products %}
            <div class="grid_3 product_block {% cycle 'alpha' '' 'omega' %}">
                {% thumbnail product.image "150x150" as im %}
                    <a href="/catalog/product/{{ product.id }}"><img src="{{ im.url }}" style="margin:{{ im|margin:"150x150" }}"/></a>
                {% endthumbnail %}
                <a href="/catalog/product/{{ product.id }}" class="name">
                    {{ product.name }}
                </a>
                <div>
                    {% if product.taste %}
                        <p class="fl taste">{{ product.taste }}</p>
                    {% endif %}
                    {% if product.uom > 0 %}
                        <p class="uom fr">{{ product.uom_units }} {{ product.get_uom_display }}</p>
                    {% endif %}
                </div>
                <br style="clear: both;">

                {% if product.qty_avail > 0 %}
                    <div class="price">{{ product.customer_price }},-</div>
                    <a class="btn incart fr" onclick="Dajaxice.cart.add_to_cart(Dajax.process, {'product_id':{{ product.id }}});return false;">
                        В корзину
                    </a>
                {% else %}
                    <div class="out_of_stock">Нет в наличии</div>
                {% endif %}
            </div>
        {% endfor %}
        &nbsp;
    </div>
    <div class="grid_3 omega">
        {% show_sub_filter %}
        {% show_seen_scope %}
    </div>
    {% if products.paginator.num_pages > 1 %}
        <div class="grid_12">
            <div class="nav">
                {% if products.has_previous %}
                    <a href="?page={{ products.previous_page_number }}">«</a>
                {% endif %}
                {% for page_number in products.paginator.page_range %}
                    {% if page_number == products.number %}
                        <span class="current">{{ page_number }}</span>
                    {% else %}
                        <a href="?page={{ page_number }}">{{ page_number }}</a>
                    {% endif %}
                {% endfor %}
                {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}">»</a>
                {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}