<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE yml_catalog SYSTEM "shops.dtd">
<yml_catalog date="{% now "Y-m-d H:i" %}">
    <shop>
        <name>Магазин спортивного питания</name>
        <company>PitFit</company>
        <url>http://pitfit.ru/</url>

        <currencies>
            <currency id="RUR" rate="1" plus="0"/>
        </currencies>
        <categories>
        {% for category in categories %}
            <category id="{{ category.id }}">{{ category.name }}</category>
        {% endfor %}
        </categories>
        <local_delivery_cost>250</local_delivery_cost>
        <offers>
        {% for product in products %}
            {% if product.showcase %}
                <offer id="{{ product.id }}" type="vendor.model" available="true">
                    <url>http://pitfit.ru/catalog/product/{{ product.showcase.id }}?utm_term={{ product.id }}&amp;utm_source=market</url>
                    <price>{{ product.showcase.customer_price }}</price>
                    <currencyId>RUR</currencyId>
                    <categoryId>{{ product.uniq_category.id }}</categoryId>
                    <picture>http://pitfit.ru/media/{{ product.showcase.market_thumbnail }}</picture>
                    <delivery>true</delivery>
                    <vendor>{{ product.brand }}</vendor>
                    <model>{{ product.name }} {{ product.uom_lb_display }}{% if product.uom > 0 %} {{ product.uom_units }} {{ product.get_uom_display }}{% endif %}{% if product.taste %} {{ product.taste }}{% endif %}</model>
                    <description>{{ product.description|striptags|truncatewords:40|escape}}</description>
                    {% if product.taste %}
                        <param name="Вкус">
                            {{ product.taste }}
                        </param>
                    {% endif %}
                    {% if product.uom > 0 %}
                        <param name="В упаковке" unit="{{ product.get_uom_display }}">
                            {{ product.uom_units }}
                        </param>
                    {% endif %}
                </offer>
            {% endif %}
        {% endfor %}
        </offers>
    </shop>
</yml_catalog>